<div class="wrapper">
    <main class="middle-content">
      <div class="page_title_block">
        <h1 class="page_title">EDIT PRODUCT CATEGORY</h1>
        <hr style="width: 118%; margin-left: -9%; background-color: gray;">
      </div>
      <div style="margin-left: 49%;">
        <img style="border-radius: 50%;" [src]="profile?profile:'assets/img/profile-img.jpg'" alt="" />
         <em class="fa fa-camera" >
    <input type="file" name="imageUrl" accept="image/*"
    (change)="handleInputChange($event)" style="position: absolute; position: absolute;opacity: -0.9;"> </em> </div>
      <form [formGroup]="editpdtcategoryForm">
  
        <div class="content-section">
          <div class="order-view max-WT setting-page" style="width:73%;">
            <div class="mb40">
              <div class="add-store-block input-style mb20 ">
                <div class="form-group row align-items-baseline">
                  <div class="col-md-12">
                    <h4 class="mt20" style="font-size: 17px;">Name of Product Category:</h4>
                   
                    <input type="text" class="form-control" formControlName="productName" 
                       style="width: 51%;margin-top: -6%;margin-left: 49%;">
                      <span class="text text-danger" *ngIf="editpdtcategoryForm.controls.productName.touched && editpdtcategoryForm.controls.productName.invalid && editpdtcategoryForm.controls.productName.errors.required">*Product Name is Required</span>
                  </div>
                </div>
                
              </div>
              <div class="text-center mt40 mb40">
                <button class="btn btn-large  max-WT-150 btn-theme" [routerLink]="['/product-category']"
                   >Back</button>
                   <button class="btn btn-large  max-WT-150 btn-theme" (click)="editProduct()"
                  [disabled]="!editpdtcategoryForm.valid" style="margin-left: 5%;">Save</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
  </div>