
.change {
    color: green;
  }
  
  span.mydpicon.icon-mydpcalendar{
    margin-top: 9px!important;
    margin-left: 5px!important;
  }
  
  .mydp .mydpicon{
    margin-top: 7px!important;
    margin-left: 5px!important;
  }
  
  
  table, td {
    font-size: 20px;
  }
  
  .global-modal .modal-content {
    width: 632px!important;
    border-radius: 7px;
  }
  .w-100 {
    margin-top: 0px;
    margin-left: 26px!important;
    width: 100%!important;
  
  }
  .userdetails-table tr th, .userdetails-table tr td{
    text-align: left;
    padding-left: 13px;
  }
  .spacng{
    padding:0px;
  }
  .modal_flax_height {
    min-height: 98px;
  }
  .change_password .modal-body {
    padding: 2rem 18px;
  }
  .registration-div {
    width: 50%;
  }
  .registration-div2 {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }