<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title">Hospital Management / View</h1>
        </div>
        <div class="content-section">
            <div class="outer-box">
                <div class="global-table no-radius p0">
                    <div class="tab-content1">
                        <div class="sec_top_head sec_top_head_new_after">
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="view-ul view-ul2">
                                        <li><label>Hospital ID <span>:</span></label></li>
                                        <li>
                                            <p class="content-view" [tooltip]="hospitalData?._id || '--'">
                                                {{(hospitalData?._id | slice: -4) || '--'}}</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="view-ul view-ul2">
                                        <li><label>Hospital Name <span>:</span></label></li>
                                        <li>
                                            <p class="content-view" [tooltip]="hospitalData?.hospitalName || '--'">
                                                {{hospitalData?.hospitalName || '--'}}</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="view-ul view-ul2">
                                        <li><label>Email Address<span>:</span></label></li>
                                        <li>
                                            <p class="content-view" [tooltip]="hospitalData?.email || '--'">
                                                {{hospitalData?.email || '--'}}</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="view-ul view-ul2">
                                        <li><label>Phone Number <span>:</span></label></li>
                                        <li>
                                            <p class="content-view"
                                                [tooltip]="((hospitalData?.countryCode + ' ' + hospitalData?.mobileNumber) || '--')">
                                                {{(hospitalData?.countryCode + ' ' + hospitalData?.mobileNumber) || '--'}}
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="view-ul view-ul2">
                                        <li><label>Disease<span>:</span></label></li>
                                        <li>
                                            <p>{{hospitalData?.disease || '--'}} </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <div class="admin-btn justify-content-end ">
                                        <button type="button" class="btn  btn-theme ml-2 Go_btn"
                                            (click)="back()">Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- tab section -->
                        <div class="tab-section">
                            <div class="tab">
                                <button class="tablinks" [ngClass]="tabView == 'patient' ? 'active': ''"
                                    (click)="viewTab('patient')">Patient details</button>
                                <button class="tablinks" [ngClass]="tabView == 'plasmaDonatedPatient' ? 'active': ''"
                                    (click)="viewTab('plasmaDonatedPatient')">Plasma Donated Patients</button>
                            </div>
                        </div>
                        <!--end tab section  -->

                        <!-- patient tab -->
                        <app-view-patient-management-hospital *ngIf="tabView == 'patient'">
                        </app-view-patient-management-hospital>
                        <!-- end patient tab -->

                        <!-- plasma donated patient  -->
                        <app-view-plasma-donated-patient-management-hospital *ngIf="tabView == 'plasmaDonatedPatient'">
                        </app-view-plasma-donated-patient-management-hospital>
                        <!--end plasma donated patient  -->
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>