<div *ngIf="viewScreen == 'viewPatientManagement'" class="tabcontent">
    <div class="tab-pane1">
        <div class="sec_head_new ">
            <form [formGroup]="searchForm">
                <div class="row">
                    <div class="col-md-2 col-xl-3 col-lg-3">
                        <div class="filter_search mb20 width100">
                            <div class="input-group filter_search_group">
                                <input type="text" class="form-control overflow-text" formControlName="search"
                                    placeholder="Search by name, email & mobile number" maxlength="60">
                                <div class="input-group-append">
                                    <button class="btn btn_search_group" type="button"><img
                                            src="assets/img/icon-search.png" alt="Search"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" formControlName="disease">
                            <option value="" selected>Select Disease</option>
                            <option value="COVID-19">Covid-19</option>
                        </select>

                    </div>
                    <div class="col-md-4">
                        <div class="date-input-box">
                            <input type="date" name="" id="fromDate" class="form-control date-input mr-2"
                                formControlName="fromDate">
                            <input type="date" name="" id="toDate" class="form-control date-input"
                                formControlName="toDate">
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-3 col-lg-3">
                        <div class="text-center admin-btn ">
                            <button type="button" class="btn  btn-theme ml-2 Go_btn"
                                (click)="searchFormSubmit()">Submit</button>
                            <button type="button" class="btn  btn-theme ml-2 Go_btn"
                                (click)="searchFormReset()">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" aria-describedby="view patient list">
            <thead>
                <tr class="no_wrap_th text-center">
                    <th scope="col" class="Sorting-img">S.No.</th>
                    <th scope="col" class="Sorting-img">Patient ID</th>
                    <th scope="col" class="Sorting-img">Name</th>
                    <th scope="col" class="Sorting-img">Email Address</th>
                    <th scope="col" class="Sorting-img">Mobile Number</th>
                    <th scope="col" class="Sorting-img">Test Name</th>
                    <th scope="col" class="Sorting-img">Test Date</th>
                    <th scope="col" class="Sorting-img">Test Counts</th>
                    <th scope="col" class="Sorting-img">Current Test Status</th>
                    <th scope="col" class="Sorting-img">Eligible Donar</th>
                    <th scope="col" class="action_td_btn3 Sorting-img">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of patientData | paginate: { itemsPerPage: itemPerPage, currentPage: currentPage, totalItems: total}; let i = index"
                    class="text-center">
                    <td>{{itemPerPage * (currentPage-1)+ i+1}}</td>
                    <td class="content" [tooltip]="item?.patientId || '--'">{{(item?.patientId | slice: -4) || '--'}}
                    </td>
                    <td class="content" [tooltip]="(item?.firstName + ' ' + item?.lastName) || '--'">
                        {{(item?.firstName + ' ' + item?.lastName) || '--'}}</td>
                    <td class="content" [tooltip]="item?.email || '--'">{{item?.email || '--'}}</td>
                    <td class="content" [tooltip]="item?.mobileNumber || '--'">{{item?.mobileNumber || '--'}}</td>
                    <td class="content" [tooltip]="item?.disease || '--'">{{item?.disease || '--'}}</td>
                    <td class="content">{{item?.currentTestDate | date:'d/M/y' || '--'}}</td>
                    <td class="content">{{item?.testCount}}</td>
                    <td class="content"
                        [ngClass]="{'text-success' : item?.currentTestStatus == 'NEGATIVE','text-danger' : item?.currentTestStatus == 'POSITIVE'}">
                        {{item?.currentTestStatus || '--'}}</td>
                    <td class="content"
                        [ngClass]="{'text-success' : item?.currentDonarEligibility == 'YES','text-danger' : item?.currentDonarEligibility == 'NO'}">
                        {{item?.currentDonarEligibility || '--'}}</td>
                    <td class="justify-content-center d-flex">
                        <button class="btn btn-info ml-2 bt-margin" title="view"
                            (click)="viewPatient(item?.patientId, item?.hospitalId, 'viewPatient')">
                            <i class="fa fa-eye" aria-hidden="true" style="color:white"></i></button>
                    </td>
                </tr>
                <tr *ngIf="!patientData.length">
                    <td class="table-no-record" colspan="8">No Record Found</td>
                </tr>
            </tbody>
        </table>
        <div class="custom-pagination mt-2 text-align-end" *ngIf="total > 10">
            <pagination-controls (pageChange)="pagination($event)"></pagination-controls>
        </div>
    </div>
</div>




<!-- ---------------------  view patient ----------------------------------------- -->
<div *ngIf="viewScreen == 'viewPatient'">
    <div class="wrapper">
        <div class="page_title_block" style="padding: 15px 15px">
            <h1 class="page_title">Personal Details</h1>
        </div>
        <div class="content-section" style="padding: 1px">
            <div class="outer-box">
                <div class="global-table no-radius p0">
                    <div class="tab-content1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" order-view main-block-innner mb20 view-label-align"
                                    style="max-width: 100%;">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>First Name <span>:</span> </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="content-view"
                                                        [tooltip]="viewPatientData?.firstName || '--'">
                                                        {{viewPatientData?.firstName || '--'}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Last Name <span>:</span> </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="content-view"
                                                        [tooltip]="viewPatientData?.lastName || '--'">
                                                        {{viewPatientData?.lastName || '--'}} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Email Address <span>:</span> </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="content-view" [tooltip]="viewPatientData?.email || '--'">
                                                        {{viewPatientData?.email || '--'}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Phone Number <span>:</span> </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="content-view"
                                                        [tooltip]="viewPatientData?.mobileNumber || '--'">
                                                        {{viewPatientData?.mobileNumber || '--'}} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Date of Birth <span>:</span> </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{(viewPatientData?.DOB | date:'d/M/y') || '--'}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Gender <span>:</span> </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{viewPatientData?.gender || '--'}} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Address <span>:</span> </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="content-view"
                                                        [tooltip]="viewPatientData?.location.address || '--'">
                                                        {{viewPatientData?.location.address || '--'}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Current Status <span>:</span> </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{viewPatientData?.approveStatus || '--'}} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Test Count <span>:</span> </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{viewPatientData?.testCount}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                    <h3 *ngIf="!viewPatientData?.testDetails.length">No Test Detail Found. </h3>
                                    <h3 *ngIf="viewPatientData?.testDetails.length"> Test Details </h3>
                                    <div *ngFor="let item of viewPatientData?.testDetails; let i=index">
                                        <h5> {{'Test-' + (i+1)}}</h5>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-md-6">
                                                        <label>Test Name <span>:</span> </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{item?.testName || '--'}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-md-6">
                                                        <label>Test Date <span>:</span> </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{(item?.testDate | date:'d/M/y') || '--'}} </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-md-6">
                                                        <label>Eligible Donar <span>:</span> </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{item?.eligibleDonar || '--'}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-md-6">
                                                        <label>Test Status <span>:</span> </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{item?.testStatus || '--'}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-md-6">
                                                        <label>Remark <span>:</span> </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{item?.remark || '--'}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="text-center mt40 mb40">
                                        <button class="btn btn-large  max-WT-150 btn-theme"
                                            (click)="back('viewPatientManagement')">Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end view patient -->