<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title"> Notification Management>Notification View





 

            </h1>
            <hr style="background: black; opacity: 0.5;">

        </div>


            <div class="col">

                <div class="row"  style=" margin-left: 4%;
                margin-top: 0%;">
                    <label>Title :

                    </label>
                    <label style="margin-left: 15%;">New updates are here</label>
                </div>

                <div class="row" style=" margin-left: 4%;
                margin-top: 2%;">
                    <label>Description :

                    </label>
                    <label style="margin-left: 10%;">jgbnvjfksgbvnfsjkgvfbnj</label>
                </div>

                <div class="row" style="margin-left: 4%;
                margin-top: 2%;">
                    <label>Shared with :

                    </label>
                    <label style="margin-left: 10%;">All users</label>  
                </div>

                

                    <div class="row" style="margin-left: 23%;
                    margin-top: 10%; margin-bottom: 8%; width: 155%; " >
                        <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 12%;">Back</button>
                    </div>
            </div>
        