.active {
    color: #3cc114;
}

.selected {
    background-color: green;
    color: white;
}

textarea.form-control {
    height: unset!important; 
}

.searchFil {
    border: 1px solid #3cc114;
    width: unset;
   
}

.textField {
    border: none !important;
    padding: 4px 0px 0px 10px;
}


/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  // input {
  //   border: 1px solid transparent;
  //   background-color: #f1f1f1;
  //   padding: 25px;
  //   font-size: 16px;
  // }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  /* for animation */
  .circle {
    position: relative;
    background-color: transparent;
    // border: 2px solid #BD9016;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    // Animate all properties during 1 second with 
    // ease flow and 0.5 seconds of delay
    // [property] [duration] [ease] [delay]
    transition: all 1s ease 0ms;
    /* 
     Try to coment the transition property to see the animation
     dissapear 
    */
  }
  
  .circle:active {
    // Move the circle 200px right (X) & 200px down (Y)
    // Double its size and rotate it 180 degrees.  
    transform: translate(200px, -200px) scale(2) rotate(360deg);
    opacity: 0.5;
    // * For performance reasons, limit the animations to the
    // transform and opacity properties.
    background-color: #e5e6e9;
    border: 10px solid #3cc114;
  }
  
  .circle p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #BD9016;
  }
  .imageComment {
    border-radius: 50%;
    // height: 50% !important;
    // width: 50% !important;
  }
  .addScroll {
    overflow-y:scroll; 
    height: 250px;
  }
  @media(max-width:375px){
    .tab{
        font-size: 14px;
    }
    .post-me{
        font-size:9px!important;
    
        padding: 8px;
        margin: 0px;
    }
    
    .emojiiIcon {
        margin: 1px 0px 0 auto;
    }
}
@media(max-width:414px){
    .tab{
        font-size: 14px;
    }
    .post-me{
        font-size:11px;
    
        padding: 8px;
        margin: 0px;
    }
    
    .emojiiIcon {
        margin: 1px 0px 0 auto;
    }
}
@media(max-width:768px){
    .tab{
        font-size: 14px;
    }
    .post-me{
        font-size:11px;
    
        padding: 8px;
        margin: 0px;
    }
    
    .emojiiIcon {
        margin: 1px 0px 0 auto;
    }
}
// @media(max-width:768px){
// .selectOption{max-width: 188px;
//   padding: 0 0 0 71px;
// }}