Start Right Bar
<app-rightsidemenu></app-rightsidemenu>
<!-- Close Right Bar.-->

    <div class="page-wrap">
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-md-3">
            <div class="left-menu card">
                <app-sidemenu></app-sidemenu>
            </div>
          </div>
          <div class="col-md-9">
            <div class="page-content">
              <div class="card post-box main-post">
                <div class="post-warp">
                  <div class="header-tab">
                    <div class="tab pointer" >
                        <div [ngClass]="{active : selected === 'groups'}"  (click)="groups()">
                          Groups
                        </div>
                        <div [ngClass]="{active : selected === 'discoverGroup'}" (click)="discoverGroup()">
                          Discover Group
                        </div>

                        <div [ngClass]="{active : selected === 'createGroup'}" (click)="getCategoryList()"> 
                          Create Group
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card post-box main-post"  *ngIf="selected=='discoverGroup'">
                <div class="post-warp">
                  <div class="white-input" style="padding-left: 26px; margin-top: 1px;">
                    <input type="name" class="white-input" id="name" placeholder="Search by group name"  (keyup)="searchByName($event.target.value)">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
              </div>
            

              
             <!--  Groups  -->
              <div class="card post-box main-post" *ngIf="selected == 'groups'">
                <div class="post-warp" >
                <div class="mainBox" style="margin-top: 10px;" *ngFor="let item of groupsList  | paginate: { itemsPerPage: limit, currentPage: page1, totalItems: total1 }; let i = index">
                  <div class="user"><img  [src]="item.coverPic ? item.coverPic : 'assets/images/profile.png'">
                  </div>
                  <div  class="userName" (click)="showDescription(item)"><label class="groupLength">{{item.groupName}}</label>
                  </div>
              </div>
              <h2 *ngIf="groupsList.length == 0">No Record Found!</h2>
                </div>
                <!-- <div class="userIcon" >
                  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                  </div> -->
              </div>

           
                <!--  Discover Groups  -->
                 
                      <div class="card post-box main-post" *ngIf="selected == 'discoverGroup'">
                          <div class="post-warp" >
                          <div class="mainBox" style="margin-top: 10px;" *ngFor="let item of discoverGroupList | paginate: { itemsPerPage: limit, currentPage: page1, totalItems: total }; let i = index">
                            <div class="user"><img [src]="item.coverPic ? item.coverPic : 'assets/images/profile.png'">
                            </div>
                            <div  class="userName" (click)="showDescription(item)"><label class="groupLength">{{item.groupName}}</label>
                            </div>
                            <div class="userIcon">
                              <button type="button" (click)="joinGroup(item._id)">Join</button>
                            </div>
                        </div>
                        <h2 *ngIf="discoverGroupList.length == 0">No Record Found!</h2>
                          </div>
                          <!-- <div class="userIcon" >
                          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                          </div> -->
                        </div>

              </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog"> 
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Create New Group</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="createGroupFormReset()">&times;</button>
           
          </div>
          <div class="modal-body">
            <img [src]="fileData">
            <div class="add-user">
              <input class="uploadImage" type="file" accept="image/png, image/jpeg, image/jpg" (change)="upload($event)" multiple>
              <img src="assets/images/plus.png">
            </div>
          </div>
          
          <form [formGroup]="createGroupForm" novalidate autocomplete="off">
          <div class="name" style="position: relative;">
              <input class="newInput" type="text" placeholder="Name your group" formControlName="groupName">
              <span class="error" *ngIf="groupName.invalid && (groupName.dirty || groupName.touched)">
                <span *ngIf="groupName.errors.required" padding>
                    *Please enter group name
                </span>
            <span *ngIf="groupName.errors.pattern" padding>
                    *Group name must be characters only
                </span>
            </span>

             
                <div style="margin-top: 14px; height: 40px;" class="">
                  <select class="form-control" (change)="checkCat($event.target.value)" formControlName="category">
                  <option value="">Select category</option>
                  <option *ngFor="let item of newArry" >{{item.categoryName}}</option>
                  </select>
                  </div>

                  <div style="margin-top: 30px;" class="">
                  <ng-multiselect-dropdown formControlName= "dropdown_friendlist" [placeholder]="'Add friends'" [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" (onDeSelect)="onItemDeSelect($event)">
                </ng-multiselect-dropdown>
                 </div>

              <input style="margin-top: 14px;" class="newInput" type="text" placeholder="Welcome post" formControlName="welcomePost">
              <span class="error" *ngIf="welcomePost.invalid && (welcomePost.dirty || welcomePost.touched)">
              <span *ngIf="welcomePost.errors.required" padding>
                *Please enter welcome post
             </span>
              </span>


              <input style="margin-top: 14px;" class="newInput" type="text" placeholder="Description" formControlName="description">
              <span class="error" *ngIf="description.invalid && (description.dirty || description.touched)">
                <span *ngIf="description.errors.required" padding>
                    *Please enter group description
                </span>
           
                </span>

              <!-- <span style="position: absolute;
              right: 29px;
              bottom: 12.5em;">
                  <img style="width: 17px;" src="assets/images/addNew.png">
              </span> -->

              <!-- <p style="font-weight: 500;
              margin-top: 15px;">
                Select Privacy
              </p> -->

              <!-- <div style="border: 1px solid #cecece;
              display: flex;
              padding: 14px 17px;">
                  <div>
                    <img src="assets/images/privacy.png">
                  </div>
                  <div>
                    <p style="    margin-left: 10px;
                    margin-bottom: 0px;
                    font-weight: 600;">Close Group</p>
                    <p style="    margin-left: 11px;">
                        Anyone can find the group and see who runs it. Only members
                        can see whjo’s in it and what they post.
                    </p>
                  </div>
              </div> -->

            </div>
            </form>
            
          
          
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-return" data-dismiss="modal" (click)="createGroupFormReset()">Close</button>
            <button type="button" class="btn btn-success paynow btn-return" [disabled]="createGroupForm.invalid" (click)="createGroup()" >Create</button>
          </div>
        </div>
        
      </div>
    </div>

