<div class="login-wrapper">
    <div class="container-common">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="d-flex align-items-center minheight70vh">
                    <form class="login_box_outer w-100" [formGroup]="form">
                        <div class="border border-dark">
                            <div class="login-right-block">
                                <div class="login-heading">
                                    <h4>FORGOT PASSWORD</h4>
                                    
                                </div>
                                <div class="login-box-body">
                                    <p class="common-paragrph text-center">Enter your registered number address. We will
                                        help you to reset your password.</p>
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="number" formControlName="number"
                                            placeholder="Enter your number id" maxlength="60"
                                            (keypress)="mainService.preventSpace($event)" />
                                        <div *ngIf="f.number.errors && (f.number.touched || f.number.dirty)"
                                            class="text-danger">
                                            <span *ngIf="f.number.hasError('pattern')"> *Please enter valid number
                                                id.</span>
                                            <span *ngIf="f.number.hasError('required') "> *number is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mt40 admin-profile">
                                    <button type="button" class="btn btn-login btn-large  width100 font-100"
                                        [disabled]="!form.valid" (click)="submit()">SUBMIT</button>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- otp modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Enter OTP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
