<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title">Static Content Management</h1>
            <hr style="width: 118%; margin-left: -9%; background-color: black;">
        </div>
        <div class="content-section" >
            <div class="outer-box">
                <div class="global-table no-radius p0">
                    <div class="tab-content1">
                        <div class="tab-pane1">
                            <div class="table-responsive">
                                <table class="table table-bordered" aria-describedby="static content list">
                                    <thead>
                                        <tr class="no_wrap_th text-center">
                                            <th scope="col" class="Sorting-img"> Title </th>
                                            <th scope="col" class="Sorting-img">Description</th>
                                            <th scope="col" class="action_td_btn3 Sorting-img">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" *ngFor="let item of result">

                                            <td class="content"></td>
                                            <td class="content">
                                                <div [innerHTML]="item.description" class="description-content">
                                                </div>
                                            </td>

                                            <td class="justify-content-center d-flex">
                                                <!-- <button class="btn btn-info ml-2 bt-margin"
                                                    (click)="editStatic(item._id,item.type)"><i class="fa fa-edit"
                                                        aria-hidden="true" style="color:white"></i></button> -->
                                            </td>
                                        </tr>
                                        <!-- <tr *ngIf="!result.length">
                                            <td class="table-no-record" colspan="3">No Record Found</td>
                                        </tr> -->
                                        <tr class="">
                                    
                                            <td class="text-center">Terms & Condition</td>
                                            
                                            <td class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. <br> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, <br> sed rhoncus sapien nunc eget</td>
                                            <td class="justify-content-center d-flex">
                                                <div>
                                                <button class="btn btn-large  max-WT-150 btn-theme" (click)="addFaq()"
                                                [disabled]="form.invalid" style="margin-left: -12%;" [routerLink]="['/view_terms']">View</button>
                                            </div>
                                            <div>
                                                <button class="btn btn-large  max-WT-150 btn-theme" (click)="addFaq()"
                                                [disabled]="form.invalid" style="margin-left: 39%;" [routerLink]="['/edit_terms']">Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                    
                                        <td class="text-center">Privacy Policy</td>
                                        
                                        <td class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. <br> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, <br> sed rhoncus sapien nunc eget </td>
                                        <td class="justify-content-center d-flex">
                                            <!-- <button class="btn btn-info ml-2 bt-margin" (click)="editFaq()"><i
                                                class="fa fa-edit" aria-hidden="true"
                                                style="color:white"></i></button>
                                        <button class="btn btn-danger ml-2 bt-margin" title="delete"
                                            (click)="deleteFaqModal()"><i class="fa fa-trash"
                                                aria-hidden="true" style="color:white"></i></button> -->
                                                <div>
                                                <button class="btn btn-large  max-WT-150 btn-theme" (click)="addFaq()"
                                           [disabled]="form.invalid" style="margin-left: -12%;"[routerLink]="['/view_privacy_policy']">View</button>
                                        </div>
                                        <div>
                                           <button class="btn btn-large  max-WT-150 btn-theme" (click)="addFaq()"
                                           [disabled]="form.invalid" style="margin-left: 36%;"[routerLink]="['/edit_privacy_policy']">Edit</button>
                                        </div>
                                           
                                    </td>
                                </tr>
                                <tr class="">
                                    
                                    <td class="text-center">About Us</td>
                                    
                                    <td class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. <br> Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. <br> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, <br> sed rhoncus sapien nunc eget </td>
                                    <td class="justify-content-center d-flex">
                                        <div>
                                        <button class="btn btn-large  max-WT-150 btn-theme" (click)="addFaq()"
                                        [disabled]="form.invalid" style="margin-left: -12%;" [routerLink]="['/about_us']">View</button>
                                    </div>
                                    <div>
                                        <button class="btn btn-large  max-WT-150 btn-theme" (click)="addFaq()"
                                        [disabled]="form.invalid" style="margin-left: 39%;" [routerLink]="['/edit_about_us']">Edit</button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="">
                                    
                                <td class="text-center">FAQ s</td>
                                
                                <td class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. <br> Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. <br> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, <br> sed rhoncus sapien nunc eget </td>
                                <td class="justify-content-center d-flex">
                                    <div>
                                    <button class="btn btn-large  max-WT-150 btn-theme" (click)="addFaq()"
                                    [disabled]="form.invalid" style="margin-left: -12%;" [routerLink]="['/faq']">View</button>
                                </div>
                                <div>
                                    <button class="btn btn-large  max-WT-150 btn-theme" (click)="addFaq()"
                                    [disabled]="form.invalid" style="margin-left: 39%;" [routerLink]="['/edit-faq']">Edit</button>
                                </div>
                            </td>
                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>