.blue {
  background: #74D1EA;
}
.purpul {
  background: #C9895C;
}
.pich {
  background: #F4AA3F;
}
.red {
  background: #FD7492;
}
.green {
  background: #78E7B6;
}
.content-section {
  padding: 25px 20px 20px 20px;
  min-height: calc(100vh - 620px);
}

