<div class="login-wrapper">
                  <div class="container-common">
                      <div class="row justify-content-center">
                          <div class="col-md-6">
                              <div class="d-flex align-items-center minheight70vh">
                                  <form class="login_box_outer w-100" [formGroup]="loginForm">
                                      <div class="login-box max-WT-520">
                                          <div class="login-right-block">
                                              
                                              <div class="login-box-body">
                                                  <p  style="color: aqua; text-align: center" > Successfully linked</p>
             
                                              </div>
                                              
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- delete  modal Start -->
<div class="modal fade global-modal reset-modal" id="deleteSubscription">
    <div class="modal-dialog max-WT-500">
        <form class="change_password">
            <div class="modal-content">
                <div class="modal-header d-block text-center modal-header-custm">
                    <h5 class="modal-title d-inline-block">Delete Subscription?</h5>
                </div>
                <div class="modal-inner-content">
                    <div class="modal-body">
                        <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                <p>Are you sure you want to delete this Subscription?</p>
                                <div class="modal-btn-box">
                                    <button type="submit" class="btn btn-theme"
                                        (click)="deleteSubscription()">Yes</button>
                                    <button type="button" class="btn btn-danger btn-theme ml-2"
                                        data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
  <!-- end delete  modal -->
             
             
              