.active {
    color: #3cc114;
}
p{
    color: #989696;
}

// stripe
form.checkout {
    max-width: 565px;
    margin: 2rem auto;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 1rem 2rem;
    background: white;
  
    font-family: monospace;
    color: #525252;
    font-size: 1.1rem;
  }
  
  form.checkout button {
    padding: 0.5rem 1rem;
    color: white;
    background: coral;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
  }
  
  form.checkout button:active {
    background: rgb(165, 76, 43);
  }

  // modal 
  .modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
@media(max-width:414px){
  .post-warp{
  padding: 14px;
  font-size: 13px;
}}
@media(max-width:375px){
  .active{
  margin-left: 11px;
}}
.groupLength{    width: 100%;
	max-width: 200px;
  }
  
  .apply{
    margin-top: 11px;
    max-width: 69%;
    margin: 0 15.5%;
  }

  .phone{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #cecece;
    padding: 6px 12px;
    border-radius: 6px!important;
  }

  .ngx-dropdown-button{
    width: 11%;
    min-height: 30px;
    padding: 5px 10px 5px 10px;
    background-color: white;
}
  