.editIcon{
  font-size: 35px;
    position: absolute;
    left : 87%;
    bottom: 14%;
    color: #86559f;
    cursor: pointer;
}
img{
  width: 100%
}
.cameraInput{
    opacity:0;
    height: 45px;
    font-size: 21px;
    position: absolute;
    left: 0%;
    top: 8%;
    width: 115px;
    z-index: 9999;
    cursor: pointer;
}
input[type='file']{
    opacity: 0;
    cursor: pointer;

}
.frontImageCSS {
  border: 1px solid gray;
  width: 100%;
  height: 115px;
}
.frontImageCSS img{
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
