.active {
    color: #3cc114;
}

// .heart-icon{
//     color:#666
// }

/deep/.measurements {
    display: flex;
   }

/deep/.measurements-text{
    margin: 0 4px;
   }

   .errorClass {
    color: red;
}