<div class="wrapper">
    <app-sidebar></app-sidebar>
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title">About Us</h1>
           
        </div>
        
        <div class="form-group" style="width: 80%; margin: 0 20%">
            <div class="row">
                <div class="col-md-10" style="width: 100%">
                    <textarea name="" id="" cols="150" rows="20"
                        class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed .</textarea>
                </div>
            </div>
        </div><br>

        
        <div class="form-group">
                <div class="text-center mt40" style="justify-content: space-between">
                    <a (click)="addAgent()" class="btn btn-large  max-WT-200 font-100 btn-green mb-5" [routerLink]="['/static-content-management']">Back</a>
                    <a  class="btn btn-large  max-WT-200 font-100 btn-green mb-5 ml-2" [routerLink]="['/edit-about']">Edit</a>
                </div>

            </div>
    </main>
</div>