<body class="afterlogin bg-image">
    <div class="login-wrapper ">
        <div class="container-common">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form class="login_box_outer" [formGroup]="resetPasswordForm">
                        <div class="login-box max-WT-520">
                            <div class="login-right-block">
                                <div class="login-heading">
                                    <h4>RESET PASSWORD</h4>
                                </div>
                                <div class="login-box-body">
                                    <div class="form-group"> <input type="password" class="form-control"
                                            placeholder="Password" formControlName="password" /> </div>
                                    <div
                                        *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched">
                                        <span class="error">*Password is required.</span> </div>
                                    <div class="form-group"> <input type="password" class="form-control"
                                            placeholder="Confirm Password" formControlName="confirmPassword" /> </div>
                                    <span
                                        *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required') && resetPasswordForm.controls['confirmPassword'].touched"
                                        class="error">*Confirm password is required.</span> <span class="error"
                                        *ngIf="resetPasswordForm.controls['password'].value != resetPasswordForm.controls['confirmPassword'].value && resetPasswordForm.controls['confirmPassword'].dirty">Password
                                        do not match.</span>
                                    <div class="text-center form-group mt40"> <button type="submit"
                                            class="btn btn-login btn-large width100 font-100"
                                            [disabled]="!resetPasswordForm.valid || (resetPasswordForm.controls['password'].value != resetPasswordForm.controls['confirmPassword'].value)"
                                            (click)="resetPasswordFunc()" style="background: #2d3498;width: 53%;">SUBMIT</button> </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <footer>
        <div class="container-fluid">
            <p class="copyright">Alende  <strong class="theme-text-color"></strong> 
                </p>
        </div>
    </footer>