.add-store-block {
  max-width: 80%;
  margin: 0 auto;
}
.order-view {
  width: 100%;
  /* max-width: 75%; */
  max-width: 65%;
  margin: 0 auto;
}
.mt75{
  margin-top: 75px !important;
}
.border-item{
  border-bottom: 3px solid gray;
}
.padding15{
  padding: 15px;
}