

 

    <!-- <div class="fixed-rightbar">
      <ul class="rightbar-chat">
        <li><a href="#"><img src="assets/images/Layer 139.png"><span class="notify-dot"></span></a></li>
        <li><a href="#"><img src="assets/images/Layer 139.png"><span class="notify-dot"></span></a></li>
        <li><a href="#"><img src="assets/images/Layer 139.png"><span class="notify-dot"></span></a></li>
        <li><a href="#"><img src="assets/images/Layer 139.png"><span class="notify-dot"></span></a></li>
        <li><a href="#"><img src="assets/images/Layer 139.png"><span class="notify-dot"></span></a></li>
        <li class="chat-btn"><a href="#"><img src="assets/images/Layer 141.png"></a></li>
      </ul>
    </div> -->

    <app-rightsidemenu></app-rightsidemenu>
    <!-- Close Right Bar -->

    <!-- Satrt Page Content -->
    <div class="page-wrap">
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-md-3">
            <div class="left-menu card">
                <app-sidemenu></app-sidemenu>
              
            </div>
          </div>
          <div class="col-md-9">
            <div class="page-content">
              <!-- <div class="card post-box">
                <div class="post-warp">
                  <div class="d-flex">
                    <div class="userimg-col"><img src="assets/images/Layer 61.png"></div>
                    <div class="content-col"><form><textarea class="form-control"></textarea></form></div>
                  </div>
                </div>
              </div> -->

              <!-- <div class="card post-box post-search">
                  <form class="search-form">
                   <input type="text" placeholder="Search by friend..." class="form-control">
                  </form>
              </div> -->

              <div class="card post-box main-post">
                <div class="post-warp">
                  <div class="post-content-setting">
                     Select Language
                   
                  </div>
                </div>
              
              
              </div>


              <div class="radioo" style="padding-top:35px">
                <div class="newBox">
                    <label class="radioContainer" style="font-size: 15px; margin-top: 20px; color: white;">ENGLISH
                        <input type="radio" checked="checked" name="radio1" value="ENGLISH" [(ngModel)]="obj.radio1">
                        <span class="checkmark"></span>
                      </label>
                      <label class="radioContainer" style="font-size: 15px; margin-top: 20px; color: white;">SPANISH
                          <input type="radio" checked="checked" name="radio1" value="SPANISH" [(ngModel)]="obj.radio1">
                          <span class="checkmark"></span>
                      </label>
                      <label class="radioContainer" style="font-size: 15px; margin-top: 20px; color: white;">FRENCH
                          <input type="radio" checked="checked" name="radio1" value="FRENCH" [(ngModel)]="obj.radio1">
                          <span class="checkmark"></span>
                      </label>
                      <label class="radioContainer" style="font-size: 15px; margin-top: 20px; color: white;">GERMAN
                          <input type="radio" checked="checked" name="radio1" value="GERMAN" [(ngModel)]="obj.radio1">
                          <span class="checkmark"></span>
                      </label>
                      <label class="radioContainer" style="font-size: 15px; margin-top: 20px; color: white;">ARABIC
                          <input type="radio" checked="checked" name="radio1" value="ARABIC" [(ngModel)]="obj.radio1">
                          <span class="checkmark"></span>
                      </label>
                </div>
                <button class="btn-global pointer" (click)="continue()">CONTINUE</button>
               
              </div>

    
              
            </div>
          </div>
        </div>
      </div>
    </div>
 

   