<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title">Test Center Management / Add</h1>
        </div>
        <div class="content-section">
            <div class="order-view mt30 mrgn-0-auto">
                <div class="main-block-innner mb40 mt40">
                    <form [formGroup]="addTestCenterForm" #f="ngForm" style="padding: 10px;">
                        <div class="input-style">
                            <div class="user-profile">
                                <div class="image-box">
                                    <img [src]="imageUrl || 'assets/img/profile-img.jpg'" id="sub-admin-image" alt="">
                                    <label class="upload-label">
                                        <input type="file" formControlName="image" name="image"
                                            accept="image/jpg,image/jpeg,image/png" id="image"
                                            (change)="ValidateFileUpload($event)" maxlength="56">
                                        <em class="fa fa-pencil"
                                            style="color: #86559f!important; font-size: 12px;"></em>
                                    </label>
                                </div>
                            </div>
                            <div class="row mt-5 pb-1 ">
                                <div class="col-md-6">
                                    <ul class="view-ul view-ul2">
                                        <li><label>Test Center Name <span>:</span></label></li>
                                        <li>
                                            <input type="text" class="form-control" placeholder="Test Center Name*"
                                                formControlName="testCenterName"
                                                (keypress)="mainService.preventSpace($event)" maxlength="60">
                                            <div class="text-danger">
                                                <span
                                                    *ngIf="addTestCenterForm.get('testCenterName').hasError('required') && (addTestCenterForm.get('testCenterName').dirty || addTestCenterForm.get('testCenterName').touched)">
                                                    *Please enter test center name.
                                                </span>
                                                <span
                                                    *ngIf="addTestCenterForm.get('testCenterName').hasError('pattern') && (addTestCenterForm.get('testCenterName').dirty || f.submitted)">
                                                    *Test center Name accept only alphabets.
                                                </span>
                                                <span
                                                    *ngIf="addTestCenterForm.get('testCenterName').hasError('minlength') && !(addTestCenterForm.get('testCenterName').hasError('pattern')) && (addTestCenterForm.get('testCenterName').dirty || f.submitted)">
                                                    *Minimum length must be 2.
                                                </span>
                                                <span
                                                    *ngIf="addTestCenterForm.get('testCenterName').hasError('maxlength') && !(addTestCenterForm.get('testCenterName').hasError('pattern')) && (addTestCenterForm.get('testCenterName').dirty || f.submitted)">
                                                    *Maximum length should not more than 20.
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="view-ul view-ul2">
                                        <li><label> Email Address <span>:</span></label></li>
                                        <li>
                                            <input type="text" class="form-control" placeholder="Email Address"
                                                formControlName="email" (keypress)="mainService.preventSpace($event)"
                                                maxlength="50">
                                            <div class="text-danger">
                                                <span
                                                    *ngIf="addTestCenterForm.get('email').hasError('required') && (addTestCenterForm.get('email').dirty || addTestCenterForm.get('email').touched)">
                                                    *Please enter you email.
                                                </span>
                                                <span *ngIf="addTestCenterForm.get('email').hasError('pattern')">
                                                    *Please enter valid email.
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="view-ul view-ul2">
                                        <li><label>Phone Number <span>:</span></label></li>
                                        <li>
                                            <div class="phone-number-input-box">
                                                <select class="form-control mr-2" formControlName="countryCode">
                                                    <option *ngFor="let item of countryCode" [value]="item">{{item}}
                                                    </option>
                                                </select>
                                                <input type="text" class="form-control" placeholder="Mobile no."
                                                    formControlName="mobileNumber"
                                                    (keypress)="mainService.preventSpace($event)" maxlength="16">
                                            </div>
                                            <div *ngIf="addTestCenterForm.get('countryCode').hasError('required') && (addTestCenterForm.get('mobileNumber').dirty || addTestCenterForm.get('mobileNumber').touched)"
                                                class="text-danger">
                                                <span *ngIf="!addTestCenterForm.get('countryCode').value">*Please Select
                                                    country code</span>
                                            </div>
                                            <div *ngIf="addTestCenterForm.get('countryCode').value" class="text-danger">
                                                <span
                                                    *ngIf="addTestCenterForm.get('mobileNumber').hasError('required') && (addTestCenterForm.get('mobileNumber').dirty || addTestCenterForm.get('mobileNumber').touched)">
                                                    *Please enter mobile Number.
                                                </span>
                                                <span
                                                    *ngIf="(addTestCenterForm.get('mobileNumber').hasError('pattern')) && addTestCenterForm.get('mobileNumber').dirty">
                                                    *Please enter valid mobile Number.
                                                </span>
                                                <span
                                                    *ngIf="addTestCenterForm.get('mobileNumber').hasError('maxlength') && !(addTestCenterForm.get('mobileNumber').hasError('pattern')) && addTestCenterForm.get('mobileNumber').dirty ">
                                                    *Maximum length should not more than 18.
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="view-ul view-ul2">
                                        <li><label>Password <span>:</span></label></li>
                                        <li>
                                            <input type="password" class="form-control" placeholder="Password"
                                                formControlName="password" (keypress)="mainService.preventSpace($event)"
                                                maxlength="16">
                                            <div class="text-danger">
                                                <span
                                                    *ngIf="addTestCenterForm.get('password').hasError('required') && (addTestCenterForm.get('password').dirty || addTestCenterForm.get('password').touched)">
                                                    Please enter password.
                                                </span>
                                                <span
                                                    *ngIf="addTestCenterForm.get('password').hasError('pattern') && (addTestCenterForm.get('password').dirty || f.submitted)">
                                                    Invalid password(password must have at least one uppercase,
                                                    lowercase, numbers and special characters).
                                                </span>
                                                <span
                                                    *ngIf="addTestCenterForm.get('password').hasError('minlength') && !(addTestCenterForm.get('password').hasError('pattern')) && (addTestCenterForm.get('password').dirty || f.submitted)">
                                                    Minimum length must be 8.
                                                </span>
                                                <span
                                                    *ngIf="addTestCenterForm.get('password').hasError('maxlength') && !(addTestCenterForm.get('password').hasError('pattern')) && (addTestCenterForm.get('password').dirty || f.submitted)">
                                                    Maximum length should not more than 56.
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="view-ul view-ul2">
                                        <li><label>Confirm Password <span>:</span></label></li>
                                        <li>
                                            <input type="password" class="form-control" placeholder="Confirm Password"
                                                formControlName="confirmPassword"
                                                (keypress)="mainService.preventSpace($event)" maxlength="16">
                                            <div class="text-danger">
                                                <span
                                                    *ngIf="addTestCenterForm.get('confirmPassword').hasError('required') && (addTestCenterForm.get('confirmPassword').dirty || f.submitted)">
                                                    Please enter comfirm password.
                                                </span>
                                                <span
                                                    *ngIf="(addTestCenterForm.value.confirmPassword !== addTestCenterForm.value.password) && (addTestCenterForm.get('confirmPassword').dirty || f.submitted)">
                                                    Comfirm password must be same as password.
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="view-ul view-ul2">
                                        <li><label>Address <span>:</span></label></li>
                                        <li>
                                            <input type="text" class="form-control" placeholder="Address"
                                                formControlName="address" ngx-google-places-autocomplete
                                                #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
                                                (keypress)="mainService.preventSpace($event)" maxlength="60" />
                                            <div class="text-danger">
                                                <span
                                                    *ngIf="addTestCenterForm.get('address').hasError('required') && (addTestCenterForm.get('address').dirty || addTestCenterForm.get('address').touched)">
                                                    *Please select address.
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-center mt40">
                                    <button class="btn btn-large  max-WT-200 font-100 btn-theme mb-5"
                                        [disabled]="addTestCenterForm.invalid" (click)="addTestCenter()">Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>