<div class="wrapper">
                  <main class="middle-content">
                      <div class="page_title_block">
                          <h1 class="page_title "> User Management </h1>
                      </div>
                      <div class="content-section">
                          <div class="outer-box">
                              <div class="global-table no-radius p0">
                                  <div class="tab-content1">
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class=" order-view main-block-innner mb20 mt40 view-label-align" >
                                                  <!-- <div class="add-store-block input-style">
                                                      <div class="form-group row ">
                                                          <div class="col-md-12">
                                                              <div class="user-profile mb-4">
                                                                  <div class="image-box">
                                                                      <img [src]="imageUrl ||  'assets/img/profile-img.jpg'"
                                                                          alt="loading...">
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div> -->

                                                  <div class="form-group row">
                                                      <div class="col-md-6">
                                                          <label>First Name <span>:</span> </label>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <p>{{user?.name || '--'}}
                                                          </p>
                                                      </div>
                                                  </div>

                                                  <div class="form-group row">
                                                      <div class="col-md-6">
                                                          <label>Last Name <span>:</span> </label>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <p>
                                                          </p>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                    <div class="col-md-6">
                                                        <label style="white-space: nowrap">Email Address <span>:</span> </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{user?.email || '--'}}</p>
                                                    </div>
                                                </div>
                                                  
                                                  <div class="form-group row">
                                                      <div class="col-md-6">
                                                          <label style="white-space: nowrap">Phone Number <span>:</span> </label>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <p>{{user?.mobileNumber || '--'}}
                                                          </p>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-6">
                                                          <label>Country  <span>:</span> </label>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <p>
                                                          </p>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-6">
                                                          <label>State <span>:</span> </label>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <p>--
                                                          </p>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-6">
                                                          <label>Postal Code <span>:</span> </label>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <p>110020
                                                          </p>
                                                      </div>
                                                  </div>

                                                  <div class="form-group row">
                                                      <div class="col-md-6">
                                                          <label>Address <span>:</span> </label>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <p>Okhla phase 1
                                                          </p>
                                                      </div>
                                                  </div>



                                                  <div class="text-center mt40 mb40">
                                                      <button class="btn btn-large  max-WT-150 btn-theme"
                                                          routerLink="/user-management">Back</button>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </main>
              </div>
