<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title">PRODUCT CATEGORY MANAGEMENT</h1>
            <hr style="background: black; opacity: 0.5;">

        </div>
    
        <div class="content-section">


            <div class="outer-box">
         <div class="global-table no-radius p0">
                    <div class="tab-content1">
                        <div class="tab-pane1" >
                            <div class="sec_head_new sec_head_new_after">
                                
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="filter_search mb20 width100">
                                                <div class="input-group filter_search_group">
                                                    <input type="text" class="form-control overflow-text"
                                                    [(ngModel)]="search"  placeholder="Search by name"
                                                        maxlength="60" ><button (click)="searchValue()" style="width: 39px;
                                                        background-color: #86559f;"><i class="fa fa-search"></i></button>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                                <button type="button" class="btn btn-theme" style="margin-left: 39%;
                                                height: 8%;    width: 12%;" 
                                                    >Export
                                                    csv</button>
                                                    <button type="button" class="btn btn-theme Go_btn ml-2" style="margin-left: 45%;
                                                    height: 8%;    width: 12%;" [routerLink]="['/add-productcategory']"
                                                   >Add new
                                                    </button>
                                            </div>
                                        
                                    
                                
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" aria-describedby="user management list">
                                <thead>
                                    <tr class="no_wrap_th text-center">
                                        <th scope="col" class="Sorting-img">S.No</th>
                                       <th scope="col" class="Sorting-img">Name of Product Category</th>
                                        <th scope="col" class="Sorting-img">Category Image</th>
                                        
                                        <th scope="col" class="action_td_btn3 Sorting-img">Actions</th>
                                      </tr>
                                </thead>
                                 <tbody > 
                                     <tr class="text-center"*ngFor="let item of categoryList | paginate : {itemsPerPage:10, currentPage:page, totalItems:total} ; let i=index" > 

                                    <td class="content" >{{i+1}}</td>
                                    <td class="content" > {{item.categoryName}}</td>
                                    <td class="content" ><img src="{{item.categoryImage}}" alt="" style="height:34px;"></td>
                                    
                                    <td class="justify-content-center d-flex">
                            
                                        
                                        <button class="btn btn-info ml-2 bt-margin" [routerLink]="['/edit-productcategory',item?._id]">Edit</button>
                                         <button class="btn btn-info ml-2 bt-margin" [routerLink]="['/view-productcategory',item?._id]">
                                         View</button>
                                         <button class="btn btn-danger ml-2 bt-margin" (click)="deleteFunction(item?._id)">Delete</button>
                                             
                                    </td>
                                </tr>
                                <tr *ngIf="!categoryList.length">
                                        <td class="table-no-record" colspan="9">No Record Found</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="custom-pagination mt-2 text-align-end" *ngIf="total > 10">
                                <pagination-controls (pageChange)="pagination($event)"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </main>
</div>

<!-- delete product-management modal Start -->
<div class="modal fade global-modal reset-modal" id="deleteModal">
    <div class="modal-dialog max-WT-500">
        <form class="change_password">
            <div class="modal-content">
                <div class="modal-header d-block text-center modal-header-custm">
                    <h5 class="modal-title d-inline-block">Delete</h5>
                </div>
                <div class="modal-inner-content">
                    <div class="modal-body">
                        <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                <p>Are you sure you want to delete this product Category?</p>
                                <div class="modal-btn-box">
                                    <button type="submit" class="btn btn-theme" (click)="deleteUser()">Yes</button>
                                    <button type="button" class="btn btn-danger btn-theme ml-2"
                                        data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end delete product-management modal -->

<!-- delete multiple hospital modal Start -->
<div class="modal fade global-modal reset-modal" id="deleteMultiUser">
    <div class="modal-dialog max-WT-500">
        <form class="change_password">
            <div class="modal-content">
                <div class="modal-header d-block text-center modal-header-custm">
                    
                </div>
                <div class="modal-inner-content">
                    <div class="modal-body">
                        <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                
                                <div class="modal-btn-box">
                                    <button type="submit" class="btn btn-theme" (click)="deleteMultiUser()">Yes</button>
                                    <button type="button" class="btn btn-danger btn-theme ml-2"
                                        data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end delete multiple hospital modal -->

<!-- logout modal start -->
<div class="modal fade global-modal reset-modal" id="logoutModal">
    <div class="modal-dialog max-WT-500">
        <form class="change_password">
            <div class="modal-content">
                <div class="modal-header d-block text-center modal-header-custm">
                    <h5 class="modal-title d-inline-block">Log Out</h5>
                </div>
                <div class="modal-inner-content">
                    <div class="modal-body">
                        <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                <p>Are you sure you want to Log Out</p>
                                <div class="modal-btn-box">
                                    <button type="submit" class="btn btn-theme" (click)="deleteUser()">Yes</button>
                                    <button type="button" class="btn btn-danger btn-theme ml-2"
                                        data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- logout modal end -->

<!-- block user-management modal Start -->
<div class="modal fade global-modal reset-modal" id="blockModal">
    <div class="modal-dialog max-WT-500">
        <form class="change_password">
            <div class="modal-content">
                <div class="modal-header d-block text-center modal-header-custm">
                    <h5 class="modal-title d-inline-block">Block</h5>
                </div>
                <div class="modal-inner-content">
                    <div class="modal-body">
                        <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                <p>Are you sure you want to block this customer?</p>
                                <div class="modal-btn-box">
                                    <button type="submit" class="btn btn-theme" (click)="blockUser()">Yes</button>
                                    <button type="button" class="btn btn-danger btn-theme ml-2"
                                        data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end block  user-management modal -->


