<div class="wrapper">
        <main class="middle-content">
            <!-- Page Title Start -->
            <div class="page_title_block">
                <h1 class="page_title">Change Password
    
                </h1>
            </div>
            <!-- Page Title End -->
            <div class="content-section">
                <div class="order-view mt30 max-WT-700 mrgn-0-auto">
                    <div class="main-block-innner mb40 mt40">
                            <form [formGroup]="changeForm" autocomplete="off">
           
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-4">Old Password :</label>
                                        <div class="col-md-8">
                                            <input type="password" class="form-control password" placeholder="Old Password"
                                                formControlName="password" maxlength="16">
                                            <div class="error" *ngIf="password.invalid && (password.dirty || password.touched)">
                                                <div *ngIf="password.errors.required" class='danger' style="color: red" padding>
                                                    Please enter password.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-4">New Password :</label>
                                        <div class="col-md-8">
                                            <input type="password" class="form-control password" placeholder="New Password"
                                                formControlName="newPassword" maxlength="16">
                                            <div class="error"
                                                *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                                                <div *ngIf="newPassword.errors.required" class='danger'
                                                    style="color: rgb(241, 201, 201)" padding>
                                                    Please enter password.
                                                </div>
                                                <div *ngIf="newPassword.errors.pattern" class='danger' style="color: red" padding>
                                                    Password minimum eight characters, at least one uppercase letter, one lowercase
                                                    letter, one number and one special character.
                                                </div>
                                                <div *ngIf="newPassword.errors?.mismatch">New password cannot be same as old password
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-4">Confirm Password :</label>
                                        <div class="col-md-8">
                                            <input type="password" class="form-control password" placeholder="Confirm Password"
                                                formControlName="confirmPassword" maxlength="16">
                                            <div class="error"
                                                *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                                                <div *ngIf="confirmPassword.errors.required" class='danger' padding>
                                                    Enter Confirm password
                                                </div>
                                                <div *ngIf="confirmPassword.errors?.mismatch">Confirm password should be same as
                                                    password</div>
                                            </div>
                                        </div>
                                    </div>
                
                
                                    <div class="text-center mt40">
                                        <a [routerLink]="['/login']" class="btn btn-large  max-WT-150 font-100 btn-green"
                                            style="    margin-left: 10px;">Cancel</a> &nbsp;
                
                                        <a class="btn btn-large  max-WT-150 font-100 btn-green" (click)="changePass()">Submit</a>
                                    </div>
                
                        </form>
                    </div>
                </div>
            </div>
            <!-- Table Responsive End -->
        </main>
    </div>