/* reset password css */
.login-wrapper{
    background-color: #221d54;
    }
    .eyeicon em {
        position: absolute;
        top: 17px;
        right: 15px;
        cursor: pointer;
        font-size: 20px;
    }
    .fa.fa-eye {
        /* color: #2693ff; */
        color: #4cd48a;
    
    }
    
    .eyeicon {
        position: relative;
    }
    /* .modal-content {
        margin-top: 57%;
    } */
    
    .rememberme-section{
        display: flex;
        justify-content: space-between;
    }