.active {
    color: #3cc114;
}
.btn btn-default {
    color: #3cc114
}

.profileImggrp{
	margin-right: 15px;
    margin-left: 10px;
}

img.profileImggrp{
	width: 36px;
    height: 35px;
    vertical-align: middle;
    margin-top: -6px;
}

.gropName{
    text-align: center;
    font-size: 15px;
}

.boxShare{
	background: #fff;
}

.shareImg{
	text-align: center;
	padding: 25px;
}
img.userShare{
	width: 100px;

}

.modal-body.newGrpmod{
	overflow: hidden;
    padding-left: 0px;
}

.modal-body.newGrpmod img{
	max-width: 506px ;
	min-width: 360px;
}

// .newInput{
// 	width: 100%;
//     padding: 10px;
//     border: 1px solid #e2e5ed;
//     border-radius: 7px;
// }

.name{
	padding: 18px;
}
.groupLength{    width: 100%;
	max-width: 500px;
	}