<div class="login-wrapper">
    <div class="container-common">
        <div class="row justify-content-center">

            <div class="col-md-6">

                <div class="d-flex align-items-center minheight70vh">

                    <form class="login_box_outer w-100" [formGroup]="forgotPassword">

                        <div class="login-box max-WT-530">

                            <div class="login-right-block">
                                <div class="login-heading">
                                    <h4>FORGOT PASSWORD</h4>
                                </div>
                                <div class="login-box-body">
                                    <p class="common-paragrph text-center">Enter your registered email id here and a verification link will be sent to the email id.</p>
                                   
                                    <div class="form-group">
                                      <label class="common-label blue" >Email</label>
                                    <input type="email" class="form-control" name="email" formControlName="email" [ngClass]="{'is-invalid':submitted&&f.email.errors}" placeholder="Enter your email id" maxlength="60"/>
                                    <div *ngIf="f.email.errors && (f.email.touched || f.email.errors.dirty)"  style="color:red">
                                            <div *ngIf = "f.email.hasError('pattern') "> *Please enter valid email id.</div>
                                            <div *ngIf = "f.email.hasError('required') "> *Email is required.</div>
                                         </div>
                                  </div>
                                </div>
                                <div class="text-center mt40 admin-profile">
                                    <button type="button"
                                        class="btn btn-login btn-large  width100 font-100" (click) = "submit()">SUBMIT</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Enter OTP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="loginPhNumberVerificationForm">
                <div class="modal-body" style="display: flex;
                justify-content: center;
                white-space: nowrap;">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" >Verify</button>
                </div>
            </form>
        </div>
    </div>
</div>

