<aside *ngIf="showSidebar" class="sidebar" style="z-index: 7">
    <div class="adminprofile">
        <a class="navbar-brand logo" style="width: 100%; display: inline-flex; justify-content: center;">
            <img class="lg-logo" [src]="profileData?.profilePic || 'assets/img/testimonial-img1.jpg'" alt="image"
                style=" border-radius: 50px; cursor: pointer;" (click)="adminProfile()">
        </a>
        <div id="admin" class="profile-data-section" style="text-align: center; color: #343434;">
            <label style="cursor: pointer;" (click)="adminProfile()">{{profileData?.firstName || 'Admin' }}</label>
            <p style="cursor: pointer;" style="color: black;" (click)="adminProfile()">{{profileData?.email || 'admin@gmail.com' }}</p>
        </div>
    </div>
    <div class="sidebar-scroller">
        <div id="accordion" class="sidebar-menu">

            <div class="menu-box toggle-menu" [ngClass]="currentUrl === '/dashboard' ? 'active' : ''"
                style="border-top: 1px solid #1975a7;">
                <div class="card-header clearfix" [routerLink]="['/dashboard']" id="headingThree" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <a class="side_menu">
                        <span class="side_menu_icon"><i class="fa fa-dashboard" aria-hidden="true"></i></span><span
                            class="side_page_name head_color">DASHBOARD</span></a>
                </div>
            </div>
            <div class="menu-box toggle-menu" [ngClass]="currentUrl === '/user-management' ? 'active' : ''">
                <div class="card-header clearfix" [routerLink]="['/user-management']" id="headingThree"
                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <a class="side_menu">
                        <span class="side_menu_icon"><i class="fa fa-user" aria-hidden="true"></i></span><span
                            class="side_page_name head_color">USER MANAGEMENT</span></a>
                </div>
            </div>
            
            <div class="menu-box toggle-menu" [ngClass]="currentUrl === '/product-management' ? 'active' : ''">
                <div class="card-header clearfix" [routerLink]="['/product-management']" id="headingThree"
                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <a class="side_menu">
                        <span class="side_menu_icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></span><span
                            class="side_page_name head_color">PRODUCT Management</span></a>
                </div>
            </div>

            <div class="menu-box toggle-menu" [ngClass]="currentUrl === '/home-visit-service' ? 'active': ''">
                <div class="card-header clearfix" [routerLink]="['/home-visit-service']" id="headingThree"
                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <a class="side_menu">
                        <span class="side_menu_icon"><i class="fa fa-user-md" aria-hidden="true"></i></span><span
                            class="side_page_name head_color">SERVICE MANAGEMENT</span></a>
                </div>
            </div>

            <div class="menu-box toggle-menu" [ngClass]="currentUrl === '/gift-card-management' ? 'active': ''">
                <div class="card-header clearfix" [routerLink]="['/gift-card-management']" id="headingThree"
                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <a class="side_menu">
                        <span class="side_menu_icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span
                            class="side_page_name head_color">GIFT CARD MANAGEMENT</span></a>
                </div>
            </div>

            <div class="menu-box toggle-menu" [ngClass]="currentUrl === '/notification-management' ? 'active': ''">
                <div class="card-header clearfix" [routerLink]="['/notification-management']" id="headingThree"
                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <a class="side_menu">
                        <span class="side_menu_icon"><i class="fa fa-bell" aria-hidden="true"></i></span><span
                            class="side_page_name head_color">NOTIFICATION MANAGEMENT</span></a>
                </div>
            </div>


            <div class="menu-box toggle-menu" [ngClass]="currentUrl === '/static-content-management' ? 'active': ''">
                <div class="card-header clearfix" [routerLink]="['/static-content-management']" id="headingThree"
                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <a class="side_menu">
                        <span class="side_menu_icon"><i class="fa fa-file-text" aria-hidden="true"></i></span><span
                            class="side_page_name head_color">STATIC CONTENT MANAGEMENT</span></a>
                </div>
            </div>

            <div class="menu-box toggle-menu" [ngClass]="currentUrl === '/faq' ? 'active': ''">
                <div class="card-header clearfix" [routerLink]="['/faq']" id="headingThree" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <a class="side_menu">
                        <span class="side_menu_icon"><i class="fa fa-question" aria-hidden="true"></i></span><span
                            class="side_page_name head_color">FAQ’s</span></a>
                </div>
            </div>

            <div class="menu-box">
                <div class="card-header clearfix" id="headingOne">
                    <a class="side_menu" (click)="logOutModal()">
                        <span class="side_menu_icon">

                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </span><span
                            class="side_page_name head_color">LOG OUT</span>
                    </a>
                </div>
            </div>

        </div>
    </div>

</aside>




<!-- logout modal -->
<div class="modal fade global-modal reset-modal" id="logoutModal">
    <div class="modal-dialog max-WT-500">
        <form class="change_password">
            <div class="modal-content">
                <div class="modal-header d-block text-center modal-header-custm">
                    <h5 class="modal-title d-inline-block">Logout?</h5>
                </div>
                <div class="modal-inner-content">
                    <div class="modal-body">
                        <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                <p>Are you sure you want to logout?</p>
                                <div class="modal-btn-box">
                                    <button type="button" class="btn btn-theme" (click)="logout()">YES</button>
                                    <button type="button" class="btn btn-danger btn-theme ml-2"
                                        data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>