<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title" style="font-size: 20px;">DASHBOARD</h1>
            <hr style="width: 118%; margin-left: -9%; background-color: black;">
        </div>
        <div class="content-section dashboard-block">
            <ul class="dash_list d-flex w-100 flex-wrap text-center">
                <li class="border border-dark" style="width: 30%;background-color:#579bd4 !important">
                    <div class>
                        
                    </div>
                    <h2 style="color: black;">TOTAL USERS</h2>
                    <h4 style="color: black;">{{totalUser}}</h4>
                </li>
                <li class="border border-dark" style="cursor:pointer" style="width: 30%;background-color:#ae69d6 !important">
                    <div class>
                      
                    </div>
                    <h2 style="color: black;">TOTAL PRACTITIONERS</h2>
                    <h4 style="color: black;">{{totalPractioner}}</h4>
                </li>
                <li class="border border-dark"  style="width: 30%;background-color:#579bd4 !important">
                    <div class>
                       
                    </div>
                    <h2 style="color: black;">TOTAL CUSTOMERS</h2>
                    <h4 style="color: black;">{{totalUser}}</h4>
                </li>
            </ul>
            <ul class="dash_list d-flex w-100 flex-wrap text-center">
                <li class="border border-dark" style="width: 30%;background-color:#ae69d6 !important">
                    <div class>
                        
                    </div>
                    <h2 style="color: black;">TOTAL CORPORATE CUSTOMERS</h2>
                    <h4 style="color: black;">{{totalCorporate}}</h4>
                </li>
                <li class="border border-dark" style="width:30%; background-color:#579bd4 !important">
                    <div class>
                        
                    </div>
                    <h2 style="color: black;">TOTAL PRODUCTS</h2>
                    <h4 style="color: black;">{{totalProduct}}</h4>
                </li>
                <li class="border border-dark" style="width: 30%;background-color:#ae69d6 !important">
                    <div class>
                        
                    </div>
                    <h2 style="color: black;">TOTAL SERVICES</h2>
                    <h4 style="color: black;">{{totalService}}</h4>
                </li>
            </ul>
        </div>
    </main>
</div>