<div class="login-wrapper">
  <div class="container-common">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="d-flex align-items-center minheight70vh">
          <form class="login_box_outer w-100" [formGroup]="resetPassword">
            <div class="login-box max-WT-520">
              <div class="login-right-block">
                <div class="login-heading">
                  <h4>RESET PASSWORD</h4>
                </div>
                <div class="login-box-body">
                  <!-- <div class="form-group">
                    <input type="password" formControlName="code" class="form-control" placeholder="Verification code" />
                    <div class="text-danger" *ngIf="resetPassword.get('code').hasError('required') && resetPassword.get('code').dirty">
                      Please enter verification code.
                    </div>
                  </div> -->
                  <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Enter New Password" />
                    <div class="text-danger" *ngIf="resetPassword.get('password').hasError('required') && resetPassword.get('password').dirty">
                      *Please enter new password.
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Enter Confirm Password" />
                    <div class="text-danger" *ngIf="resetPassword.get('confirmPassword').hasError('required') && resetPassword.get('confirmPassword').dirty">
                      Please enter confirm password.
                    </div>
                    <div class="text-danger" *ngIf="(resetPassword.value.password != resetPassword.value.confirmPassword) && resetPassword.get('confirmPassword').dirty">
                      *Confirm password must be same as new password.
                    </div>
                  </div>
                </div>
                <div class="text-center mt40">
                    <!-- (click)="resetPas()" -->
                  <button [disabled]="resetPassword.invalid" (click)="resetPas()" class="btn btn-login btn-large  width100">SUBMIT</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
