<div class="login-wrapper">
                                    <div class="container-common">
                                        <div class="row justify-content-center">
                                            <div class="col-md-6">
                                                <div class="d-flex align-items-center minheight70vh">
                                                    <form class="login_box_outer w-100" [formGroup]="form">
                                                        <div class="login-box max-WT-520">
                                                            <div class="login-right-block">
                                                                <div class="login-heading">
                                                                    <h4>RESET PASSWORD</h4>
                                                                </div>
                                                                <div class="form-group eyeicon">
                                                                                          <input type="password" maxlength="18" formControlName="password"
                                                                                              class="form-control " placeholder="new Password"
                                                                                              (keypress)="mainservice.preventSpace($event)" />
                                                                                          <div class="text-danger"
                                                                                              *ngIf="form.get('password').invalid && (form.get('password').dirty  || form.get('password').touched)"
                                                                                              style="color: red;text-align: start;padding-bottom: 10px;">
                                                                                              <span *ngIf="form.get('password').hasError('required')">*Password is
                                                                                                  required.</span>
                                                                                          </div>
                                                                                      </div>
                                                                                      <div class="form-group eyeicon">
                                                                                                            <input type="password" maxlength="18" formControlName="confirmPassword"
                                                                                                                class="form-control " placeholder="confirm Password"
                                                                                                                (keypress)="mainservice.preventSpace($event)" />
                                                                                                            <div class="text-danger"
                                                                                                                *ngIf="form.get('confirmPassword').invalid && (form.get('confirmPassword').dirty  || form.get('confirmPassword').touched)"
                                                                                                                style="color: red;text-align: start;padding-bottom: 10px;">
                                                                                                                <span *ngIf="form.get('confirmPassword').hasError('required')">*confirm Password is
                                                                                                                    required.</span>
                                                                                                            </div>
                                                                                                        </div>
                                                                <div class="text-center mt40 admin-profile">
                                                                    <button type="button" class="btn btn-login btn-large  width100 font-100"
                                                                        [disabled]="!form.valid" (click)="resetPassword()">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- otp modal -->
                                <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Please Enter OTP</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
