<app-rightsidemenu></app-rightsidemenu>
<div class="page-wrap">
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-3">
        <div class="left-menu card">
          <app-sidemenu></app-sidemenu>
        </div>
      </div>

      <div class="col-md-9">
        <div class="page-content">
          <div class="card post-box main-post">
            <div class="post-warp">
              <div class="post-content-setting" style="color:#3CC114">
                Change Password
              </div>
            </div>
          </div>
          <form [formGroup]="changePasswordForm">
            <div class="card post-field main-post">
              <div class="field-wrap">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <label for="">Old Password</label><br>
                      <input type="text" class="form-control" placeholder="enter your old password" formControlName="old">
                    </div>

                  </div>

                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <label for="">New Password</label>
                      <input type="text" class="form-control" placeholder="enter your new Password" formControlName="new">

                    </div>

                  </div>

                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <label for="">Confirm Password</label>
                      <input type="text" class="form-control" placeholder="enter your confirm password" formControlname="confirm">

                    </div>

                  </div>

                </div>

                <div>
                    <button (clicck)="changePassword()" >SUBMIT</button>
                </div>
                <div>
                    <button  >CANCEL</button>
                </div>
              </div>
             

              
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>