<div class="wrapper">
                                    <main class="middle-content">
                                        <div class="page_title_block">
                                            <h1 class="page_title "> Contact Us Management </h1>
                                        </div>
                                        <div class="content-section">
                                            <div class="outer-box">
                                                <div class="global-table no-radius p0">
                                                    <div class="tab-content1">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class=" order-view main-block-innner mb20 mt40 view-label-align">
                                                                    
                                
                                                                    <div class="form-group row">
                                                                        <div class="col-md-6">
                                                                            <label>Name <span>:</span> </label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <p>{{viewContactList?.name || '--'}}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="form-group row">
                                                                        <div class="col-md-6">
                                                                            <label style="white-space: nowrap">Phone Number: </label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <p>{{viewContactList?.mobileNumber || '--'}}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                
                                
                                                                    
                                                                    <div class="form-group row">
                                                                        <div class="col-md-6">
                                                                            <label>Email Id <span>:</span> </label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <p>{{viewContactList?.email || '--'}}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="form-group row">
                                                                        <div class="col-md-6">
                                                                            <label>Subject   <span>:</span> </label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <p>{{viewContactList?.subject || '--'}}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-md-6">
                                                                            <label>Description <span>:</span> </label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <p>{{viewContactList?.description || '--'}}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    
                  
                                                                    <div class="text-center mt40 mb40" >
                                                                        <button class="btn btn-large  max-WT-150 btn-theme"
                                                                            routerLink="/contact-us">Back</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </main>
                                </div>