<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title"> ADD CORPORATE CUSTOMER

            </h1>
            <hr style="background: black; opacity: 0.5;">

        </div>

        <div class="content-section">
            <div style="position: absolute;
left: 41%; margin-top: -2%;" >
    <i style="font-size: 143px;" class="fa fa-user-circle-o" aria-hidden="true"></i>
    <i style="position: absolute;
    font-size: 40px;
    right: -21%;
" class="fa fa-camera" aria-hidden="true"></i>
</div>


            <div class="col" style="text-align: center;">

                <div class="row" style="margin-left: 15%;
                margin-top: 16%;">
                    <label>Name :

                    </label>
                    <input type="text" style="width: 30%;
                    margin-left: 19%;">
                </div>

                <div class="row" style="margin-left: 15%;
                margin-top: 3%;">
                    <label>Phone number :

                    </label>
                    <input type="text" style="width: 30%;
                    margin-left: 12%;">
                </div>

                <div class="row" style="margin-left: 15%;
                margin-top: 3%;">
                    <label>Email id :

                    </label>
                    <input type="text" style="width: 30%;
                    margin-left: 18%;">
                </div>

                <div class="row" style="margin-left: 15%;
                margin-top: 3%;">
                    <label>Date of birth : </label>
                    <input type="date" class="form-control" style="width: 30%;
                    margin-left: 14%;">
                </div>

                    <div class="row" style="margin-left: 15%;
                    margin-top: 10%;">
                        <button type="button" class="btn btn-theme" style="margin-left: 10%;" [routerLink]="['/corporate-customer-management']">Back</button>
                        <button type="button" class="btn btn-theme" style="margin-left: 10%;" [routerLink]="['/corporate-customer-management']">Save </button>
                    </div>
            </div>
        </div>