ul.view-ul.view-ul2 {
    margin-bottom: 10px;
}
ul.view-ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin-bottom: 20px; */
}
ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

ul.view-ul.view-ul2 li:first-child {
    width: 35%;
}
ul.view-ul.view-ul2 label {
    font-size: 18px;
    font-weight: 400;
}
ul.view-ul li label {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 600;
}
label {
    margin: 0;
}

ul.view-ul.view-ul2 li:last-child {
    width: 60%;
    word-break: break-all;
}
ul.view-ul li:last-child {
    width: 55%;
    position: relative;
}
ul.view-ul.view-ul2 p {
    font-size: 14px;
}
p {
    margin: 0;
}

/* hospital details section */
.sec_top_head_new_after {
    position: relative;
}

.sec_top_head {
    border: 1px solid #f3eeee;
    padding: 30px 20px 10px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-weight: 600;
}
.tablinks {
    width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    /* background-color: #ddd; */
    background-image: linear-gradient(to right, #86559f, #221d54);
}

/* Create an active/current tablink class */
.tab button.active {
    /* background-color: #ccc; */
    background-color: #221d54;
    color: #ccc;
}
