<div class="login-wrapper">
   <div class="container-common">
       <div class="row justify-content-center">
           <div class="col-md-6">
               <div class="d-flex align-items-center minheight70vh">
                   <form class="login_box_outer w-100" [formGroup]="loginForm">
                       <div class="login-box max-WT-520">
                           <div class="login-right-block">
                               <div class="login-heading">
                                   <h4>LOGIN</h4>
                               </div>
                               <div class="login-box-body">
                                   <div class="form-group">
                                       <input type="text" formControlName="number"
                                           (keypress)="mainService.toCheckSpaceChar($event)" maxlength="20"
                                           id="loginPhoneNumber" class="form-control"
                                           placeholder="Enter Mobile Number" />
                                       <div class="text-danger"
                                           *ngIf="(loginForm.get('number').hasError('required') && loginForm.get('number').dirty);else check">
                                           *Please enter mobile number.
                                       </div>
                                       <ng-template #check>
                                           <div class="text-danger"
                                               *ngIf="(loginForm.get('number').hasError('pattern') || isValidNumbers === false) && loginForm.get('number').dirty">
                                               *Please enter valid mobile number.
                                           </div>
                                       </ng-template>
                                       <div class="text-danger"
                                           *ngIf="loginForm.get('number').hasError('maxlength') && !(loginForm.get('number').hasError('pattern')) && loginForm.get('number').dirty">
                                           *Maximum length should not more than 18.
                                       </div>
                                   </div>
                                   <div class="form-group eyeicon">
                                       <input [type]="showPassOrText ? 'text': 'password'"
                                           (keypress)="mainService.preventSpace($event)" maxlength="18"
                                           formControlName="password" class="form-control "
                                           placeholder="Enter Password" />
                                       <em [class]="showEyeOrCrossEye? 'fa fa-eye':'fa fa-eye-slash'"
                                           aria-hidden="true" (click)="showPassword()"></em>

                                       <div class="text-danger"
                                           *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').dirty">
                                           *Please enter password.
                                       </div>
                                       <div class="text-danger"
                                           *ngIf="loginForm.get('password').hasError('minlength') && !(loginForm.get('password').hasError('pattern')) && loginForm.get('password').dirty">
                                           *Minimum length must be 8.
                                       </div>
                                       <div class="text-danger"
                                           *ngIf="loginForm.get('password').hasError('maxlength') && !(loginForm.get('password').hasError('pattern')) && loginForm.get('password').dirty">
                                           *Maximum length should not more than 16.
                                       </div>
                                   </div>

                                   <div class="form-group row">
                                       <div class="col-lg-12">
                                           <div class="rememberme-section">
                                               <label class="checkbox-design" style="color:black">
                                                   <input type="checkbox" /><span></span>Remember me
                                               </label>
                                               <div class="forgot-links">
                                                   <a [routerLink]="['/forgot-password']">Forgot Password?</a>
                                               </div>
                                           </div>

                                       </div>
                                   </div>
                               </div>
                               <div class="text-center mt40">
                                   <button (click)="login()" [disabled]="!loginForm.valid"
                                       class="btn btn-login btn-large  width100 font-600">LOGIN</button>
                               </div>
                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>

