<div class="wrapper">
     <app-sidebar></app-sidebar>
     <main class="middle-content">
         <div class="page_title_block">
             <h1 class="page_title">About Us > View</h1>
            
         </div>

       <div class="form-group" style="width:90; margin:0 10%">
            <div class="row">
                    <div class="col-md-2">
                              <label for="" >Title:</label>
                    </div>
                 <div class="col-md-10">
               <!-- <input type="text" class="form-control"> -->
               <li>About Us</li>
          </div>
            </div>
       </div><br>
       <div class="form-group" style="width:80; margin:0 10%">
               <div class="row">
                    <div class="col-md-2">
                              <label for="" >Description:</label>
                    </div>
                    <div class="col-md-10">
               <textarea  class="form-control" cols="100" rows="18">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</textarea>
             </div>
               </div>
          </div>
          <div class="form-group">
                    <div class="text-center mt40" style="justify-content: space-between; margin-left: 15%;">
                        <a (click)="addAgent()" class="btn btn-large  max-WT-200 font-100 btn-green mb-5" [routerLink]="['/static-content-management']">Back</a>
                        <a  class="btn btn-large  max-WT-200 font-100 btn-green mb-5 ml-2" [routerLink]="['/about-us']">Update</a>
                    </div>
    
                </div>

     </main>
     </div>
         