<!-- Start Right Bar -->
<app-rightsidemenu></app-rightsidemenu>
<!-- Close Right Bar -->

<!-- Satrt Page Content -->
<div class="page-wrap">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-3">
                <div class="left-menu card">
                    <app-sidemenu></app-sidemenu>
                </div>
            </div>


<!-- dashboard content -->
<div class="col-md-9">
<div class="page-content">
  <div class="card deshboad ">
    <div class="marking-images" routerLink="/marketing-dashboard">
      <img src="assets/images/p2.png">
      <h4>Marketing Dashboard</h4>
    </div>
    <div class="or-div" data-toggle="modal" data-target="#pop-adve">Or</div>

    <div class="marking-images" routerLink="/bidding">
      <img src="assets/images/p1.png">
      <h4 data-toggle="modal" data-target="#add">Bidding</h4>
    </div>
  </div>
</div>
</div>

<!-- end -->

</div>
</div>
</div>
