/* .ngx-dropdown-container{
    width: 77%;
    min-height: 39px;
    padding: 5px 10px 5px 10px;
    background-color: white;
    margin-left: 31%;
}
.ngx-dropdown-container[_ngcontent-bpw-c6] .ngx-dropdown-button[_ngcontent-bpw-c6] {
    width: 76%;
    min-height: 36px;
    padding: 5px 10px 5px 10px;
    background-color: white;
    margin-left: 33%;
} */