<!-- Start Right Bar -->
<app-rightsidemenu></app-rightsidemenu>
<!-- Close Right Bar -->
    

    <!-- Satrt Page Content -->
    <div class="page-wrap">
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="left-menu card">
                      <app-sidemenu></app-sidemenu>    
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="page-content">
                        <div class="card post-box main-post">
                            <div class="post-warp">
                                <div class="post-content-setting">
                                    News

                                </div>
                            </div>
                        </div>



                        <div class="card post-box post-search">
                            <form class="search-form">
                                <input type="text" placeholder="Search by today, tomorrow, week" class="form-control">
                            </form>
                        </div>
                        <div class="post-warp">
                            <div class="post-content-setting" style="color:#3cc114;">
                                Today News</div>
                        </div>
                        <div class="card post-box main-post">
                            <div class="post-warp">
                                <div class="ex1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                        pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Nam fermentunulla luctus pharetra vulputate, felis tellus mollis orci,
                                        sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                        et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
                                        et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                                        pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc et.</p>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                        pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                        orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit ametlacus accumsan
                                        et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
                                        et magnis dis parturient ntes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                                        pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                        pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                        orci, sed rhoncus sapien nunc eget Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                        et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
                                        et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                                        pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem
                                        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                        pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                        orci, </p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                        pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Nam fermentunulla luctus pharetra vulputate, felis tellus mollis orci,
                                        sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                        et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
                                        et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                                        pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc et.</p>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                        pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                        orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit ametlacus accumsan
                                        et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
                                        et magnis dis parturient ntes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                                        pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                        pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                        orci, sed rhoncus sapien nunc eget Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                        et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
                                        et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                                        pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem
                                        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                        pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                        orci, </p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-lg-6 ex2">
                                        <h6>Yesterday's News</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                            laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                            Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
                                            montes, nascetur ridiculus mus. Nam fermentunulla luctus pharetra vulputate,
                                            felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit
                                            amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                                            dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                                            tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                            ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                            orci, sed rhoncus sapien nunc et. Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                            et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
                                            et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla
                                            luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc
                                            eget. Lorem ipsum dolor sit amet, </p>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6  ex2">
                                        <h6>Week's News</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                            laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                            Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
                                            montes, nascetur ridiculus mus. Nam fermentunulla luctus pharetra vulputate,
                                            felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit
                                            amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                                            dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                                            tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                            ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis
                                            orci, sed rhoncus sapien nunc et. Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                            et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
                                            et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla
                                            luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc
                                            eget. Lorem ipsum dolor sit amet, </p>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>
   
    <!-- Close Page Content -->

    <!-- <div class="disable" [ngClass]="{active : selected === 'Today'}" (click)="selectTab('Today')">
        Today
        </div>
        <div class="disable" style="margin:0 auto" [ngClass]="{active : selected === 'Tommorow'}" (click)="selectTab('Tommorow')">
        Tomorrow
        </div>
        <div class="disable" [ngClass]="{active : selected === 'Week'}" (click)="selectTab('Week')">
        This week
        </div> -->