<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title">EDIT PRODUCT

            </h1>
            <hr style="background: black; opacity: 0.5;">

        </div>

        <div class="content-section">
            <div style="position: absolute;
left: 41%; margin-top: -2%;" >
    <i style="font-size: 143px;" class="fa fa-user-circle-o" aria-hidden="true"></i>
    <i style="position: absolute;
    font-size: 40px;
    right: -21%;
" class="fa fa-camera" aria-hidden="true"></i>
</div>


            <div class="col" style="text-align: center;">

                <div class="row" style="margin-left: 15%;
                margin-top: 16%;">
                    <label>Name of product:

                    </label>
                    <input type="text" style="width: 35%;
                    margin-left: 19%;" value="Hair dryer" >
                </div>

                <div class="row" style="margin-left: 15%;
                margin-top: 3%;">
                    <label>Price :

                    </label>
                    <input type="text" style="width: 35%;
                    margin-left: 29%;" value="200">
                </div>

                <div class="row" style="margin-left: 15%;
                margin-top: 3%;">
                    <label>Used for :

                    </label>
                    <input type="text" style="width: 35%;
                    margin-left: 26%;" value="Hair">
                </div>

                <div class="row" style="margin-left: 15%;
                margin-top: 3%;">
                    <label>Type : </label>
                    <input type="text"  style="width: 35%;
                    margin-left: 29%;" value="Saloon">
                </div>

                    <div class="row" style="margin-left: 15%;
                    margin-top: 10%;">
                        <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 13%;" [routerLink]="['/product-management']">Back</button>
                        <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 13%;" [routerLink]="['/product-management']">Save </button>
                    </div>
            </div>
        </div>