<div class="login-wrapper">
  <div class="container-common">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="d-flex align-items-center minheight70vh">
          <form class="login_box_outer w-100" [formGroup]="resetPassword">
            <div class="border border-dark">
              <div class="login-right-block">
                <div class="login-heading">
                  <h4>RESET PASSWORD </h4>
                  <hr style="width: 118%; margin-left: -9%; background-color: black;">

                </div>
                <div class="login-box-body">
                  <div class="form-group" style="margin-top: 13%;">
                    <div class="form-group eyeicon row">
                    <label style="margin-top: 3%;">New Password:</label>
                    <input type="password" formControlName="password" class="form-control"
                      placeholder="Enter New Password" maxlength="56" (keypress)="mainService.preventSpace($event)" style="width: 72%; margin-top: -7%;margin-left: 29%;" />
                      <i class="fa fa-eye-slash" aria-hidden="true" style="font-size: 30px; position: relative; left: 92%; margin-top: -41px;"></i>
                    <div class="text-danger" style="margin-left: 23%;"
                      *ngIf="resetPassword.get('password').hasError('required') && (resetPassword.get('password').dirty || resetPassword.get('password').touched)">
                      *Please enter new password.
                    </div>
                  </div>
                    <div class="text-danger"
                      *ngIf="resetPassword.get('password').hasError('pattern') && !resetPassword.get('password').hasError('required') && (resetPassword.get('password').dirty || resetPassword.get('password').touched)">
                      *Password must contain atleast 8 characters including one digit and one special character.
                    </div>
                  </div>
                  <div class="form-group" style="margin-top: 7%;">
                    <div class="form-group eyeicon row">
                    <label style="margin-top: 3%;">Confirm Password:</label>
                    <input type="password" formControlName="confirmPassword" class="form-control"
                      placeholder="Enter Confirm Password" maxlength="56"
                      (keypress)="mainService.preventSpace($event)" style="margin-top: -7%;margin-left: 29%; width: 73%;"/>
                      <i class="fa fa-eye-slash" aria-hidden="true" style="font-size: 30px; position: relative; left: 92%; margin-top: -41px;"></i>
                    <div class="text-danger" style="margin-left: 23%;"
                      *ngIf="(resetPassword.value.password != resetPassword.value.confirmPassword) && resetPassword.get('confirmPassword').dirty ">
                      *Password not matched.
                    </div>
                  </div>
                  </div>
                </div>
                <div class="text-center mt40">
                  <button
                    [disabled]="resetPassword.invalid || (resetPassword.get('password').value != resetPassword.get('confirmPassword').value)"
                    (click)="resetApi()" routerLinkActive="router-link-active"
                    class="btn btn-login btn-large  width100" style="width: 60%;">SUBMIT</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>