<div class="login-wrapper">
    <div class="container-common">
        <div class="row justify-content-center">

            <div class="col-md-6">

                <div class="d-flex align-items-center minheight70vh">

                    <form class="login_box_outer w-100" [formGroup]="forgotPassword">

                        <div class="login-box max-WT-530">

                            <div class="login-right-block">
                                <div class="login-heading">
                                    <h4>FORGOT PASSWORD</h4>
                                </div>
                                <div class="login-box-body">
                                    <p class="common-paragrph text-center">Enter your registered mobile number.</p>
                                    <div class="form-group" (click)="toCheckSpaceChars()">
                                        <input type="text" maxlength="20" (keypress)="service.toCheckSpaceChar($event)"
                                            formControlName="number" class="form-control" id="forgotePhone"
                                            placeholder="Enter Mobile Number" (keyup)="toCheckSpaceChars()" required />
                                        <div *ngIf="forgotPassword.get('number').invalid && (forgotPassword.get('number').dirty  || forgotPassword.get('number').touched)"
                                            style="color: red;text-align: start">
                                            <span *ngIf="forgotPassword.get('number').hasError('required')">*Mobile
                                                number is required.</span>
                                            <span *ngIf="forgotPassword.get('number').hasError('pattern')">*Please
                                                enter valid mobile number.</span>
                                        </div>
                                        <!-- <div class="text-danger" *ngIf="forgotPassword.get('number').hasError('required') && forgotPassword.get('number').dirty ; else checkval">
                                            Please enter mobile number.
                                        </div>
                                        <ng-template #checkval>
                                            <div class="text-danger" *ngIf="(forgotPassword.get('number').hasError('pattern') || isValidNumbers === false) && forgotPassword.get('number').dirty">
                                                Please enter valid mobile number(mobile number must have country code).
                                            </div>
                                        </ng-template>
                                        <div class="text-danger" *ngIf="forgotPassword.get('number').hasError('maxlength') && !(forgotPassword.get('number').hasError('pattern')) && forgotPassword.get('number').dirty">
                                            Maximum length should not more than 18.
                                        </div> -->
                                    </div>
                                </div>
                                <div class="text-center mt40 admin-profile">
                                    <button type="button" [disabled]="forgotPassword.invalid" (click)="resetPassword()"
                                        class="btn btn-login btn-large  width100 font-100">SUBMIT</button>
                                    <!-- <a [routerLink]="['/']" class="btn btn-login btn-large  width100 font-100 ml-2" >Cancel</a> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Enter OTP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="loginPhNumberVerificationForm">
                <div class="modal-body" style="display: flex;
                justify-content: center;
                white-space: nowrap;">
                    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="service.config"></ng-otp-input>
                    <!-- <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Verification Code:</label>
                        <input type="text" class="form-control" formControlName="verificationCode" id="recipient-name">
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="verifOtp()">Verify</button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>