.col{
     font-size: 19px;
     top: 40px;
     background-color: white;
     border-radius: 50px;
     height: 48px;
     padding: 4px;
     padding-left: 28px;
 
 }
 
 li{
     background: white;
     border-bottom: 1px solid gray;
 }
 
 i{
     background-color: white;
     border-radius: 50px;
     color: #3cc114;
     font-size: 48px;
 }