<div class="wrapper">
    <app-sidebar></app-sidebar>
    <main class="middle-content">
        <!-- Page Title Start -->
        <div class="page_title_block">
            <h1 class="page_title">Content Post>Edit</h1>
        </div>
        <!-- Page Title End -->
        <div class="content-section">
            <div class="order-view mt30 max-WT-700 mrgn-0-auto">
                <div class="main-block-innner mb40 mt40">
                    <form [formGroup]="addSubadminForm" #f="ngForm" style="padding: 10px;">
                        <div class="add-store-block input-style">
                            <div class="user-profile">
                                <!-- <div class="image-box">
                                <img [src]="imageUrl || 'assets/img/profile-img.jpg'" id="sub-admin-image" alt="">
                                <label class="upload-label">
                                    <input type="file" name="image" accept="image/jpg,image/jpeg,image/png" id="image" (change)="ValidateFileUpload($event)"
                                        maxlength="56">
                                    <em class="fas fa-pencil-alt" style="color: #26abe6!important;font-size: 12px"></em>
                                </label>
                            </div> -->
                            </div>
                            <div class="form-group row align-items-baseline">
                                <label class="col-md-5">Title:</label>
                                <div class="col-md-7">
                                    <input type="text" (keypress)="service.preventSpace($event)" formControlName="name"
                                        maxlength="20" placeholder="Title" class="form-control">
                                    <div class="text-danger"
                                        *ngIf="addSubadminForm.get('name').hasError('required') && (addSubadminForm.get('name').dirty || addSubadminForm.get('name').touched)">
                                        *Please enter title.
                                    </div>
                                    <!-- <div class="text-danger" *ngIf="addSubadminForm.get('name').hasError('pattern') && (addSubadminForm.get('name').dirty || f.submitted)">
                                    *Name accept only alphabets.
                                </div>
                                <div class="text-danger" *ngIf="addSubadminForm.get('name').hasError('minlength') && !(addSubadminForm.get('name').hasError('pattern')) && (addSubadminForm.get('name').dirty || f.submitted)">
                                    *Minimum length must be 2.
                                </div>
                                <div class="text-danger" *ngIf="addSubadminForm.get('name').hasError('maxlength') && !(addSubadminForm.get('name').hasError('pattern')) && (addSubadminForm.get('name').dirty || f.submitted)">
                                    *Maximum length should not more than 20.
                                </div> -->
                                </div>
                            </div>
                            <!-- <div class="form-group row align-items-baseline">
                                <label class="col-md-5">Link:</label>
                                <div class="col-md-7">
                                    <input type="text" (keypress)="service.preventSpace($event)"
                                        placeholder="www.abc.com" maxlength="15" formControlName="link"
                                        class="form-control">
                                    <div class="text-danger"
                                        *ngIf="addSubadminForm.get('link').hasError('required') && (addSubadminForm.get('link').dirty || addSubadminForm.get('link').touched)">
                                        *Please enter link.
                                    </div>

                                </div>
                            </div> -->
                            <!-- <div class="form-group row align-items-baseline">
                                <label class="col-md-5">Type:</label>
                                <div class="col-md-3" style="display: flex">
                                    <input type="radio" id="Open" name="community" (click)="typeVerify('OPEN')" class="form-control"
                                        style="margin: 6px">
                                    <label for="Open">Open</label>
                                    
                                </div>
                                <div class="col-md-4" style="display: flex">
                                    <input type="radio" id="Close" name="community" (click)="typeVerify('CLOSE')" class="form-control"
                                    style="margin: 6px">
                                    <label for="Close">Close</label>
                                   
                                </div>

                            </div> -->
                            <div class="form-group row align-items-baseline">
                                <label class="col-md-5">Category:</label>
                                <div class="col-md-7">
                                    <select formControlName="category" style="width: 100%">
                                        <option style="        width: 100%;" value="">Select</option>
                                            <option  *ngFor = "let data of dataloop" [value]="data?.categoryName">{{data?.categoryName}}</option>
                                            <!-- <option *ngFor="let test of testModel" [value]="test.id">{{test.description}}</option> -->
                                            <!-- <option value="{{data?._id}}">{{data?.categoryName}}</option>
                                            <option value="{{data?._id}}">{{data?.categoryName}}</option>
                                            <option value="{{data?._id}}">{{data?.categoryName}}</option>
                                            <option value="{{data?._id}}">{{data?.categoryName}}</option> -->
                                            <!-- <option value="saab">Saab</option>
                                            <option value="mercedes">Mercedes</option>
                                            <option value="audi">Audi</option> -->
                                          </select>
                                    <!-- <input type="text" (keypress)="service.preventSpace($event)" placeholder="Category"
                                        maxlength="15" formControlName="pincode" class="form-control"> -->
                                    <!-- <div class="text-danger"
                                        *ngIf="addSubadminForm.get('pincode').hasError('required') && (addSubadminForm.get('pincode').dirty || addSubadminForm.get('pincode').touched)">
                                        *Please enter category.
                                    </div> -->
                                    <!-- <div class="text-danger" *ngIf="addSubadminForm.get('pincode').hasError('pattern')">
                                    *Pincode accept only digits.
                                </div> -->
                                </div>
                            </div>
                            <div class="form-group row align-items-baseline">
                                <label class="col-md-5">Content:</label>
                                <div class="col-md-7">
                                    <textarea type="text" formControlName="description" cols="1" rows="7" minLength="10"
                                        (keypress)="service.preventSpace($event)" maxLength="500" style="min-width:100%"
                                        class="form-control"></textarea>
                                    <!-- <input type="text" (keypress)="service.preventSpace($event)"
                                        placeholder="Description" formControlName="description"
                                        class="form-control"> -->
                                    <div class="text-danger"
                                        *ngIf="addSubadminForm.get('description').hasError('required') && (addSubadminForm.get('description').dirty || addSubadminForm.get('description').touched)">
                                        *Please enter content.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row align-items-baseline">
                                <label class="col-md-5">Posted By:</label>
                                <div class="col-md-7">
                                    <input type="text" (keypress)="service.preventSpace($event)" formControlName="postedby"
                                        maxlength="20" placeholder="Posted By" class="form-control">
                                    <div class="text-danger"
                                        *ngIf="addSubadminForm.get('postedby').hasError('required') && (addSubadminForm.get('postedby').dirty || addSubadminForm.get('postedby').touched)">
                                        *Please enter name who is posted.
                                    </div>
                                    <!-- <div class="text-danger" *ngIf="addSubadminForm.get('name').hasError('pattern') && (addSubadminForm.get('name').dirty || f.submitted)">
                                    *Name accept only alphabets.
                                </div>
                                <div class="text-danger" *ngIf="addSubadminForm.get('name').hasError('minlength') && !(addSubadminForm.get('name').hasError('pattern')) && (addSubadminForm.get('name').dirty || f.submitted)">
                                    *Minimum length must be 2.
                                </div>
                                <div class="text-danger" *ngIf="addSubadminForm.get('name').hasError('maxlength') && !(addSubadminForm.get('name').hasError('pattern')) && (addSubadminForm.get('name').dirty || f.submitted)">
                                    *Maximum length should not more than 20.
                                </div> -->
                                </div>
                            </div>
                           
                            <div class="form-group row align-items-baseline">
                                    <label class="col-md-5">Image:</label>
                                    <div class="col-md-7">
                                        <div class="image-box">
                                            <img [src]="imageUrl || 'assets/img/profile-img.jpg'" id="sub-admin-image" style="width: 100%"
                                                alt="">
                                            <label class="upload-label">
                                                <input type="file" style="opacity: 0" formControlName="image" name="image" accept="image/jpg,image/jpeg,image/png"
                                                    id="image" (change)="ValidateFileUpload($event)" maxlength="56">
                                                <em class="fas fa-pencil-alt"
                                                    style="    color: #26abe6!important;
                                                    font-size: 18px;
                                                    position: absolute;
                                                    top: 63%;
                                                    left: 89%;
                                                    background-color: black;"></em>
                                            </label>
                                        </div>
                                        
                                        <!-- <input type="text" (keypress)="service.preventSpace($event)" class="form-control"> -->
                                        <!-- <div class="text-danger" *ngIf="addSubadminForm.get('description').hasError('required') && (addSubadminForm.get('kyc').dirty || addSubadminForm.get('kyc').touched)">
                                        *Please enter kyc.
                                    </div> -->
                                    </div>
                                </div>

                                <!-- <div class="form-group row align-items-baseline">
                                    <label class="col-md-5">Logo page:</label>
                                    <div class="col-md-7">
                                        <div class="image-box">
                                            <img [src]="imageUrl || 'assets/img/profile-img.jpg'" id="sub-admin-image"
                                                alt="">
                                            <label class="upload-label">
                                                <input type="file" style="opacity: 0" formControlName="image" name="image" accept="image/jpg,image/jpeg,image/png"
                                                    id="image" (change)="ValidateFileUpload($event)" maxlength="56">
                                                <em class="fas fa-pencil-alt"
                                                    style="    color: #26abe6!important;
                                                    font-size: 18px;
                                                    position: absolute;
                                                    top: 63%;
                                                    left: 89%;
                                                    background-color: black;"></em>
                                            </label>
                                        </div>

                                    </div>
                                </div> -->
                            <div class="form-group">
                                <div class="text-center mt40">
                                    <button (click)="updateContentpost()"
                                        class="btn btn-large  max-WT-200 font-100 btn-green mb-5">Save</button>
                                    <button [routerLink]="['/contentpost']"
                                        class="btn btn-large  max-WT-200 font-100 btn-green mb-5 ml-2">Back</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Table Responsive End -->
        <app-footer></app-footer>
    </main>
</div>