<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title"> Add New Giftcard

 

            </h1>
            <hr style="background: black; opacity: 0.5;">

        </div>


            <div class="col">

                <div class="row"  style=" margin-left: 4%;
                margin-top: 0%;">
                    <label>Title :

                    </label>
                    <input type="text" style="width: 30%; margin-left: 20%;
                    ">
                </div>

                <div class="row" style=" margin-left: 4%;
                margin-top: 2%;">
                    <label>Discount (in %) :

                    </label>
                    <input type="text" style="width: 30%; margin-left: 12%;
                   ">
                </div>

                <div class="row" style="margin-left: 4%;
                margin-top: 2%;">
                    <label>Maximum amount :

                    </label>
                    <input type="text" style="width: 30%;
                    margin-left: 9.5%;">
                </div>

                <div class="row" style="margin-left: 4%;
                margin-top: 2%;">
                    <label>Expiry date : </label>
                    <input type="text"  style="width: 30%;
                    margin-left: 15%;">
                </div>

                    <div class="row" style="margin-left: 15%;
                    margin-top: 10%; margin-bottom: 8%; " >
                        <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 12%;" [routerLink]="['/gift-card-management']">Back</button>
                        <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 12%;" [routerLink]="['/gift-card-management']">Save </button>
                    </div>
            </div>
        