<div class="wrapper">
  <main class="middle-content">
    <div class="page_title_block">
      <h1 class="page_title">ADD FAQs</h1>
      <hr style="width: 118%; margin-left: -9%; background-color: black;">
    </div>
    <div class="content-section">
      <div class="order-view max-WT setting-page">
        <div class="mb40">
          <div class="add-store-block input-style mb20 ">
            <form [formGroup]="form">
              <div class="form-group row align-items-baseline">
                <div class="col-md-12">
                  <h4 class="mt20">Question:</h4>
                  <input type="text" class="form-control" formControlName="question" maxlength="512"
                    (keypress)="mainService.preventSpace($event)" style="width: 72%;margin-top: -6%;margin-left: 16%;">
                  <div *ngIf="form.get('question').hasError('required') && form.get('question').dirty"
                    class="text-danger">
                    *Question is required.
                  </div>
                </div>
              </div>
              <div class="form-group row align-items-baseline">
                <div class="col-md-12">
                  <h4 class="mt20">Answer:</h4>
                  <textarea class="form-control" formControlName="answer" name="" id="" cols="30" rows="5"
                    (keypress)="mainService.preventSpace($event)" style="margin-top: -5%;margin-left: 16%;width: 72%;"></textarea>
                  <div *ngIf="form.get('answer').hasError('required') && form.get('answer').dirty" class="text-danger">
                    *Message is required.
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="text-center mt40 mb40">
            <button class="btn btn-large  max-WT-150 btn-theme" (click)="addFaq()"
              [disabled]="form.invalid" style="margin-left: -14%;"[routerLink]="['/faq']">Back</button>
          </div>
          <div class="text-center mt40 mb40">
            <button class="btn btn-large  max-WT-150 btn-theme" (click)="addFaq()"
              [disabled]="form.invalid" style="margin-left: 40%; margin-top: -21%;"[routerLink]="['/faq']">Save</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>