<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title text-center">End User Management</h1>
        </div>
        <div class="content-section">
            <div class="outer-box">
                <div class="global-table no-radius p0">
                    <div class="tab-content1">
                        <div class="tab-pane1">
                            <div class="sec_head_new sec_head_new_after">
                                <form [formGroup]="searchForm">
                                    <div class="row justify-content-between">
                                        <div class="col-md-4 col-xl-4">
                                            <div class="filter_search mb20 width100">
                                                <div class="input-group filter_search_group">
                                                    <input type="text" class="form-control overflow-text"
                                                        formControlName="search" placeholder="Search by name">
                                                    <div class="input-group-append">
                                                        <button class="btn btn_search_group" type="button"><img
                                                                src="assets/img/icon-search.png" alt="Search"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <select formControlName="statusType" class="form-control custom-select">
                                                <option value="">Select</option>
                                                <option value="" selected>All</option>
                                                <option value="ACTIVE">Active</option>
                                                <option value="INACTIVE">Inactive</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <div class="text-center admin-btn ">
                                                <button type="button" class="btn  btn-theme ml-2 Go_btn"
                                                    (click)="searchFormSubmit()">Submit</button>
                                                <button type="button" class="btn  btn-theme ml-2 Go_btn"
                                                    (click)="searchFormReset()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center admin-btn justify-content-end">
                                        <button type="button" class="btn  btn-theme ml-2 Go_btn" (click)="exportCSV()">Export CSV</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table aria-describedBy=""class="table table-bordered">
                                <thead>
                                    <tr class="no_wrap_th text-center">
                                        <th id=""class="Sorting-img">S.No.</th>
                                        <th  id=""class="Sorting-img">Name</th>
                                        <th  id="" class="Sorting-img">Email</th>
                                        <th  id=""class="Sorting-img">Contact Number</th>
                                        <th  id=""class="Sorting-img">Status</th>
                                        <th  id=""class="action_td_btn3 Sorting-img">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let item of userDataList | paginate: { id: 'searchData',itemsPerPage: paginationData?.limit,currentPage: paginationData?.page,totalItems: paginationData?.total }; let i=index;">   
                                                <td> {{paginationData?.limit * (paginationData?.page - 1) + i+1}}</td>   
                                        <td class="content">{{item?.firstName}}</td>
                                        <td class="content">{{item?.email}}</td>
                                        <td class="content">{{item?.mobileNumber}}</td>
                                        <td>{{item?.status}}</td>
                                        <td class="text-center d-flex">
                                            <button *ngIf="item?.loginStatus == 'UNBLOCK'" 
                                                class="btn btn-danger ml-2 bt-margin" (click)="enableDisableOrDeleteOpenModal(item?._id, 'enable')">Block</button>
                                            <button *ngIf="item?.loginStatus == 'BLOCK'"
                                                class="btn btn-success ml-2 bt-margin" (click)="enableDisableOrDeleteOpenModal(item?._id, 'disable')">Unblock</button>
                                            <button class="btn btn-info ml-2 bt-margin"
                                                (click)="goToViewUser(item)" >View</button>
                                            <button type="button" class="btn btn-theme ml-2 Go_btn"
                                            (click)="goToUserWishList(item)">View Wishlist</button>
                                            <button type="button" class="btn  btn-theme ml-2 Go_btn"
                                            (click)="goToViewLog(item)">View Log</button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!userDataList.length">
                                        <td class="table-no-record" colspan="8">No Record Found</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="custom-pagination mt-2 text-align-end" *ngIf="paginationData?.total > 10">
                                <pagination-controls (pageChange)="storageTypePagination($event)" id="searchData"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>




<div class="modal global-modal reset-modal" id="enableDisableDeleteModal">
    <div class="modal-dialog max-WT-350">
        <div class="modal-content">
            <div class="modal-header d-block text-center">
                <h5 class="modal-title d-inline-block" *ngIf="whichmodal=='enable'">Unblock</h5>
                <h5 class="modal-title d-inline-block" *ngIf="whichmodal=='disable'">Block</h5>
                <h5 class="modal-title d-inline-block" *ngIf="whichmodal=='delete'">Delete</h5>
            </div>
            <div class="modal-body mt-0">
                <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                    <div class="w-100">
                        <p *ngIf="whichmodal=='enable'">Are you sure you want to unblock?</p>
                        <p *ngIf="whichmodal=='disable'">Are you sure you want to block?</p>
                        <p *ngIf="whichmodal=='delete'">Are you sure you want to delete?</p>
                        <div>
                            <button type="submit" *ngIf="whichmodal=='disable'" class="btn mr-2 btn-info"
                                (click)="anableDisable('disable')">Block</button>
                            <button type="submit" *ngIf="whichmodal=='enable'" class="btn mr-2 btn-info"
                                (click)="anableDisable('enable')">Unblock</button>
                            <button type="submit" *ngIf="whichmodal=='delete'" class="btn mr-2 btn-info">Delete</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>