
.change {
  color: green;
}

span.mydpicon.icon-mydpcalendar{
  margin-top: 9px!important;
  margin-left: 5px!important;
}

.mydp .mydpicon{
  margin-top: 7px!important;
  margin-left: 5px!important;
}

table, td {
  font-size: 20px;
}
select{
  height: 27px;
    border-color: #212121;
    padding: 3px;
    padding-left: 10px;
}
.global-modal .modal-content {
  width: 632px!important;
  border-radius: 7px;
}

.userdetails-table tr th, .userdetails-table tr td{
  text-align: left;
  padding-left: 13px;
}
.spacng{
  padding:0px;
}
.modal_flax_height {
  min-height: 98px;
}
.change_password .modal-body {
  padding: 2rem 18px;
}
.registration-div {
  width: 50%;
}
.registration-div2 {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

